@{
    ViewBag.Title = "Index";
}
<style type="text/css">

</style>
<script type="text/javascript">

</script>
<div>
    Welcome Page ........
</div>
@{
    <p>
        @ViewBag.Message</p>
}