@{
    ViewBag.Title = "PopUp";
}

<h2>PopUp</h2>


    <style>
        #popupDiv{ display:none; position:absolute; top:100px; left:200px; background:#CCC; height:200px; width:300px;}
    </style>

    <div id="popupDiv">
    <div id="innerDiv"></div>
        <input type="button" id="clsbtn" value="close" onclick="SendClosePopUp()" />             
    </div>
    <input type="button" id="popbtn" value="Get PopUp" onclick="SendGeneratePopUp()" />             

    <a href="@Url.Content("~/Home/Link")">Link Main Page</a>
