@{
    ViewBag.Title = "ViewPage1";
}

<h2>ViewPage1</h2>
<a href="@Url.Content("/Home/Link")" target="_self" >Link Main Page</a>

<span>ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 onclick="linkclick(this); return false"</span>
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<span>ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 </span>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<span>ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 </span>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<span>ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 ViewPage1 </span>
<br />
<br />
<br />
<br />
