@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" language="javascript">
    var connection;
    function init() {

        var host = "ws://192.168.1.29:9090/5cd19b29-4f82-495f-a055-55c6cfdbf3e6";
        try {

            connection = new WebSocket(host);
            /*socket.onopen = function(msg){ alert(msg.data); };
            socket.onmessage = function(msg){
						
            //eval('var data = ' + msg.data + ';');
            alert(msg.data);
            };
            socket.onclose = function(msg){ };
            */
            // When the connection is open, send some data to the server
            connection.onopen = function () {
                alert("ready to send data..");
                //connection.send('{"Type": "1","Name": "32","Message": "gautam"}');
            };

            // Log errors
            connection.onerror = function (error) {
                //console.log('WebSocket Error ' + error);
                alert("error");
                alert(error.data);
            };

            // Log messages from the server
            connection.onmessage = function (e) {

                //console.log('Server: ' + e.data);
                alert(e.data);
            };

        } catch (ex) { alert(ex); }

    }

    function senddata() {
        try {

            connection.send('{"Type": "1","Name": "32","Message": "gautam"}'); // Send the message 'Ping' to the server
        } catch (ex) { alert(ex); }
    }
</script>

<div>Welcome Page  </div>
<input type="button" value="Send data" onclick="senddata();" />

