@import "fonts.css";
* {-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
body { 
color: #fff; font-family: "HelveticaRoman"; margin: 0; padding: 0; background: #000; width:  1024px; line-height:135%;}

#main { 
width: 1024px; height: 658px; background:url(../images/ka_mainback.jpg) no-repeat; position: relative;} 
em {font-family: 'HelveticaItalic';}
strong {font-family: "HelveticaBold";}
img {border:none;}
h1 {margin: 0; padding: 0; font-family: "HelveticaCondensed"; font-size:33px;}
h1 sup {font-size:12px;}
h2 {font-family:"HelveticaHeavy"; font-size:16px; line-height:125%; color:#005288;}
h3 {margin: 4px 0; padding: 0; font-family: "HelveticaBold"; font-size:16px; color:#005288;}
p.blueNextScreen { color:#005288; font-family:"HelveticaRoman" !important; font-size:16px; line-height:125%; color:#005288;} 
.symbol { font-family: sans-serif !important; }
.clear {clear:both;}
.abbott_logo {text-align:right;}
.lg_logo {position:absolute; top:32px;}
#logo {position:absolute; top:20px; right:32px;} 
.kaletra_logo {text-align:right;}

.blk_bullet {background:url(../images/blk_bullet.png) no-repeat left 4px; padding-left:12px;}

#footer {position: absolute; font-family:"HelveticaCondensed"; bottom: 12px; left: 425px; width: 180px; font-size: 14px;}
#footer span {font-size:10px;}
#footer p {padding: 0; margin: 4px 0; }

.dkblueoverlay {background:#005288; opacity: .95; width: 1024px; height: 658px; position:absolute;}
.highlightbox {padding:0 10px; background:#fff; border:1px solid #F2AF32;}
.hyphenbullet {background:url(../images/hyphen.png) no-repeat left 6px; padding-left:22px; margin-left:12px;}
.hyphenwrap {padding:16px 0;}
#isi_back {
	position:absolute;
	background:#005288;
	width: 415px /*390px*/;
	height:658px;
	top:0;
	right:0/*25px*/;
	opacity: .5;
}
#isi_right {
	position:absolute;
	width:385px/*365px*/;
	height:658px;
	top:0;
	right:15px/*40px*/;
	font-size:14.5px;
	font-family:"HelveticaCondensed";
}
#isi_right strong {font-family:"HelveticaBoldCondensed"; }
#isi_right .isiitem {background:url(../images/wht_bullet.png) no-repeat left 2px; padding-left:10px;}

#popup { background: #FFF; color: #000; overflow: hidden; position: relative; height:500px; padding:11px 11px 11px 11px}
#popup p {margin:10px 0;}
#popup strong {font-weight:bold;}

.symbol { 
	font-family: sans-serif !important;
	line-height: 0px;
}
.smallcap {font-size:10px; line-height:120%;}
.underline {text-decoration:underline;}

/*-- buttons -- */
.dispositionbtn {position:absolute; bottom:6px; right:316px;}
.studybtn {position:absolute; bottom:6px; right:174px;}
.baselinebtn {position:absolute; bottom:6px; right:32px;}
.ncepbtn {position:absolute; bottom:6px; right:316px;}

/*-- charts --*/
body.chart #chart { position:relative; margin:-20px 0 0 -20px; }
body.chart { background:none; -webkit-transform:scale(.98); -webkit-transform-origin: top left; }
body.chart .chartTitle { color:#000; font-family:"HelveticaBlack"; font-size:18px; line-height: 16px; position:absolute;  }
body.chart .yLabel, body.chart .xLabel, .secondaryLabel { color:#000; font-family:"HelveticaBoldCondensed"; font-size:16px; position:absolute;  }
body.chart .barLabel p { color:#fff; font-family:"HelveticaHeavyCondensed"; font-size:17px; letter-spacing:-0.25em; margin:0;position:absolute; }
body.chart .yLabel { -webkit-transform: rotate(-90deg); }
body.chart .chartLegend { position:absolute;  }
body.chart .chartLegend p { color:#000; font-family:"HelveticaBoldCondensed"; font-size:11px; }
body.chart .chartLegend p.chartLegendFootnote { font-family:"HelveticaCondensed"; }

/*-- tabs --*/

.charttabwrap {position:absolute; top:128px; left:61px; -webkit-box-shadow: 0 0 75px 0px #535454;}

.tabwrap {/*position:absolute; top:497px; left:61px;*/ background:#fff; position:relative;}
.switch_tabwrap {/*position:absolute; top:536px; left:60px;*/ background:#fff; position:relative;}
.tabwrap #tab2, .tabwrap #tab3 {margin-left:1px;}

.lg_switchmrk_tab.active {background:url(../images/tab_on.png) repeat-x; float:left; text-align:center; }
.lg_switchmrk_tab {background:url(../images/tab_off.png) repeat-x; float:left; text-align:center; }
.lg_switchmrk_tab.active a {color:#fbb040; width:317px; height:41px; padding-top:24px; display:block; text-decoration:none; font-family: "HelveticaBold";}
.lg_switchmrk_tab a {color:#f9d798; width:317px; height:41px; padding-top:24px; display:block; text-decoration:none; font-family: "HelveticaBold";}

.sm_tab.active {background:url(../images/tab_on.png) repeat-x; float:left; text-align:center; }
.sm_tab {background:url(../images/tab_off.png) repeat-x; float:left; text-align:center; }
.sm_tab.active a {color:#fbb040; width:181px; padding-top:24px; height:41px; display:block; text-decoration:none; font-family: "HelveticaBold"; }
.sm_tab a {color:#f9d798; width:182px; padding-top:24px; height:41px; display:block; text-decoration:none; font-family: "HelveticaBold"; }

.tab.active {background:url(../images/tab_on.png) repeat-x; float:left; text-align:center; }
.tab {background:url(../images/tab_off.png) repeat-x; float:left; text-align:center; }
.tab.active a {color:#fbb040; width:274px; padding-top:24px; height:41px; display:block; text-decoration:none; font-family: "HelveticaBold";}
.tab a {color:#f9d798; width:274px; padding-top:24px; height:41px; display:block; text-decoration:none; font-family: "HelveticaBold";}




/*-- slide 01 --*/



.slide-1 sup {line-height:0; font-size:50%;}
.slide-1 #content {background:#fff; width:1024px; height:658px; position:relative;}
.slide-1 header {color:#005287; position:absolute;  z-index:55; top:26px; left:36px; font:31px/33px "HelveticaCondensed"; width:810px;}

.slide-1 section {color:#f2af32; position:relative;  z-index:55; top:74px; left:36px; color:#fff; width:955px; height:477px;}

.slide-1 footer {position:absolute; left:36px; bottom:12px; font:17px/22px "HelveticaBoldCondensed"; width:660px; color:#000;}
.slide-1 .logo {position:absolute; top:18px; right:28px; background:url(../images/sm_blklogo.png) no-repeat; width:116px; height:38px;}

.slide-1 .chartbk {width:955px; height:477px; position:absolute; bottom:0; right:0; font-family:}
.slide-1 .chartbk > div { opacity: 0;  -webkit-transition: all 1000ms; /*-webkit-animation-delay: 3s;*/}
.slide-1 .chartbk > div.active { opacity: 1; }
.slide-1 .chartbk .rippedpage {background:url(../images/dh-01-rippedpage.png) no-repeat; width:829px; height:480px; color:#000; font:17px/22px "Times New Roman"; padding:48px 0 0 70px;}
.slide-1 .chartbk .rippedpage li {list-style:none; background:url(../images/dh-01-bullet.jpg) no-repeat left 7px; padding-left:28px;}

.slide-1 .chartbk h2 {margin-bottom:0; font:24px/26px "HelveticaCondensed"; margin-left:68px;}
.slide-1 .guidelines {background:url(../images/dh-01-guidelines.jpg) no-repeat; width:249px; height:322px; position:relative; top:165px; left:4px; -webkit-box-shadow: 0px 2px 5px rgba(110,108,108,1); z-index:50;}
.slide-1 .chartbk #panel1 {position:absolute; top:15px; left:70px; z-index:343434 !important;}
  .slide-1 .chartbk #panel1 ul {margin-top:0; padding-left:52px;}



/*-- slide 02 --*/



.slide-2 sup {line-height:0; font-size:50%;}
.slide-2 #content {background:#fff; width:1024px; height:658px; position:relative;}
.slide-2 header {color:#005287; position:absolute;  z-index:55; top:26px; left:46px; font:31px/33px "HelveticaCondensed"; width:810px;}

.slide-2 section {color:#f2af32; position:relative;  z-index:55; top:74px; left:36px; color:#000; width:955px; height:477px;}
.slide-2 section h2 {position:absolute; right:40px; width:488px; background:#d9800f; text-align:center; font:24px/24px "HelveticaCondensed"; color:#fff; padding:10px 0 4px 0; -webkit-border-radius: 7px; -webkit-box-shadow: 0 4px 7px rgba(135,135,135,1);}


.slide-2 footer {position:absolute; right:0px; bottom:12px; font:17px/22px "HelveticaBoldCondensed"; width:530px; color:#000;}
.slide-2 .logo {position:absolute; top:18px; right:28px; background:url(../images/sm_blklogo.png) no-repeat; width:116px; height:38px;}
.slide-2 .patients {background:url(../images/dh-02-patients.jpg) no-repeat; width:490px; height:587px; position:absolute; bottom:0;}


@-webkit-keyframes number1 {

from { opacity:0; }
to { opacity:1; }

}


.slide-2 .element {position:relative; top:66px; left:440px; width:531px;}
.slide-2 .element div {margin:0; padding:0; line-height:0%; opacity:0;}

.slide-2 .element #row1 {position:absolute; top:0; right:3px;  }
.slide-2 .element #row2 {position:absolute; top:36px; }
.slide-2 .element #row3 {position:absolute; top:62px; }
.slide-2 .element #row4 {position:absolute; top:91px; left:-3px; } 
.slide-2 .element #row5 {position:absolute; top:119px; left:-4px; }
.slide-2 .element #row6 {position:absolute; top:149px; left:-4px; }
.slide-2 .element #row7 {position:absolute; top:175px; left:-4px; }
.slide-2 #panel1 {}
.slide-2 .element  { position:relative;}

.slide-2 .element.active { -webkit-animation-duration: 200ms; }



.slide-2 .element.active div {opacity:0;}
.slide-2 .element.active #row1 {position:absolute; top:0; right:3px; -webkit-animation: number1 .5s 1800ms forwards ease-out; }
.slide-2 .element.active #row2 {position:absolute; top:36px; -webkit-animation: number1 500ms 2200ms forwards ease-out;}
.slide-2 .element.active #row3 {position:absolute; top:62px; -webkit-animation: number1 500ms 2600ms forwards ease-out;}
.slide-2 .element.active #row4 {position:absolute; top:91px; left:-3px; -webkit-animation: number1 .5s 3000ms forwards ease-out;}
.slide-2 .element.active #row5 {position:absolute; top:119px; left:-4px; -webkit-animation: number1 .5s 3400ms forwards ease-out;}
.slide-2 .element.active #row6 {position:absolute; top:149px; left:-4px; -webkit-animation: number1 .5s 3800ms forwards ease-out;}
.slide-2 .element.active #row7 {position:absolute; top:175px; left:-4px; -webkit-animation: number1 .5s 4200ms forwards ease-out;}


/*-- slide 03 --*/

.slide-3 sup {line-height:0; font-size:60%;}
.slide-3 #content {background:#fff; width:1024px; height:658px; position:relative;}
.slide-3 header {color:#005287; position:absolute;  z-index:55; top:26px; left:36px; font:31px/33px "HelveticaCondensed"; width:787px;}

.slide-3 section {color:#f2af32; position:relative;  z-index:55; top:74px; left:36px; color:#fff; width:955px; height:477px;}

.slide-3 footer {position:absolute; left:36px; bottom:12px; font:17px/22px "HelveticaBoldCondensed"; width:660px; color:#000;}
.slide-3 .logo {position:absolute; top:18px; right:28px; background:url(../images/sm_blklogo.png) no-repeat; width:116px; height:38px;}

.slide-3 section .bullet {background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px;}
.slide-3 section .safety {position:absolute; width:900px; top:265px; left:-14px; color:#000; font:15px/18px "HelveticaRoman";}
.slide-3 section .safety p {margin:6px 0;}
.slide-3 section .safety p strong {color:#005287; font:17px/17px "HelveticaBlack"; margin-left:14px;}

.slide-3 section .chartbk {position:absolute; top:40px; left:30px;}
.slide-3 section .chartbk div {float:left;}

.slide-3 section .header1 {position:absolute; top:22px; left:44px; color:#939598; font:20px/22px "HelveticaBoldCondensed";}
.slide-3 section .header2 {position:absolute; top:22px; left:584px; color:#939598; font:20px/22px "HelveticaBoldCondensed";}


.slide-3 section .disc {position:absolute; width:900px; top:432px; left:0px; color:#000; font:14px/17px "HelveticaRoman";}
.slide-3 section .disc p strong {color:#005287; font:14px/17px "HelveticaBlack";}

.slide-3 .safety .bullet{font:18px/25px "HelveticaRoman";}

/*-- slide 03 - popup 1--*/
.popup-3-1 {font:15px/16px "HelveticaCondensed";}
.popup-3-1 #popup { height:590px; position:relative;}
.popup-3-1 #popup .rippedpaper {background:url(../images/dh-03-popup-01-rippedpaper.jpg) no-repeat left 4px #fff; height:588px; width:794px; padding:32px 0 0 55px;}
.popup-3-1 #popup .rippedpaper .copy1 {margin-bottom:6px;}

.popup-3-1 #popup #copy1 sup {position:absolute; top:38px; right:274px;}

/*-- slide 03 - popup 2--*/
.popup-3-2 {font:15px/16px "HelveticaCondensed";}
.popup-3-2 #popup { height:530px;}
.popup-3-2 .bullet {background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:16px/20px "HelveticaRoman";}
.popup-3-2 #popup .rippedpaper {background:url(../images/dh-03-popup-02-rippedpaper.jpg) no-repeat left 4px #fff; height:500px; width:861px; padding:23px 0 0 35px;}
.popup-3-2 #popup .rippedpaper .copy1 {margin-bottom:6px;}

.popup-3-2 .bullet sup {line-height:0;}

/*-- slide isi --*/

.slide-isi sup {line-height:0; font-size:60%;}
.slide-isi #content {background:#fff; width:1024px; height:658px; position:relative; color:#000;}
.slide-isi header {color:#005287; position:absolute;  z-index:55; top:26px; left:36px; font:31px/33px "HelveticaCondensed"; width:700px;}
.slide-isi header span {font:27px/31px "HelveticaCondensed";}

.slide-isi .headerborder {border-top:2px solid #f2af32; -webkit-box-shadow: 0 0 5px rgba(0,0,0,1); width:340px; position:absolute; top:95px; left:36px;}
.slide-isi section {position:absolute;  z-index:55; top:70px; left:36px; width:948px;}
.slide-isi section p {margin:6px 0 6px 12px; font:18px/20px "HelveticaRoman";}
.slide-isi section .bullet {background:url(../images/blk_bullet.png) no-repeat left 5px; padding-left:14px;}
.slide-isi section strong {color:#005288; font:18px/22px "HelveticaBlack";}
.slide-isi section .head, .slide-isi section .first {padding-top:16px;}
.slide-isi footer {position:absolute; left:36px; bottom:12px; font:17px/22px "HelveticaBoldCondensed"; width:660px; color:#000;}
.slide-isi .logo {position:absolute; top:18px; right:28px; background:url(../images/sm_blklogo.png) no-repeat; width:116px; height:38px;}


.slide-isi .collage {background:url(../images/ka-08-collage.jpg) no-repeat; width:366px; height:90px; position:absolute; bottom:0; right:0;}
.slide-isi .buttonwrap {position:absolute; bottom:46px; left:36px;}
.slide-isi button {margin-right:12px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddff), color-stop(49%,#5893c2), color-stop(50%,#336e9d), color-stop(100%,#508bba));  font: 12px/13px 'HelveticaBold'; color: #fff; padding:9px 0 5px; text-shadow: 0px -1px 1px #0176b0; border-collapse: collapse; width: 120px; height: 32px; -webkit-border-radius: 7px; border:3px solid #147dc6;  line-height: 1em; position:relative; -webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.2); }
.slide-isi button > span { position: relative; top: 0px; white-space: nowrap;}
.slide-isi button:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#508bba), color-stop(49%,#336e9d), color-stop(50%,#5893c2), color-stop(100%,#b4ddff)); -webkit-box-shadow: none; }
.slide-isi .sub-head {font:18px/22px "HelveticaMedium";}
.slide-isi .sub-head1 {font:18px/22px "HelveticaMedium";}
.slide-isi .toppad {margin-top:12px;}

/*-- slide safety --*/

.slide-safety sup {line-height:0; font-size:60%;}
.slide-safety #content {background:#fff; width:1024px; height:658px; position:relative; color:#000;}
.slide-safety header {color:#005287; position:absolute;  z-index:55; top:26px; left:36px; font:31px/33px "HelveticaCondensed"; width:700px;}
.slide-safety header span {font:27px/31px "HelveticaCondensed";}

.slide-safety .headerborder {border-top:2px solid #f2af32; -webkit-box-shadow: 0 0 5px rgba(0,0,0,1); width:340px; position:absolute; top:95px; left:36px;}
.slide-safety section {position:absolute;  z-index:55; top:70px; left:36px; width:948px;}
.slide-safety section p {margin:6px 0 6px 12px; font:18px/21px "HelveticaRoman";}
.slide-safety section .bullet {background:url(../images/blk_bullet.png) no-repeat left 5px; padding-left:14px;}
.slide-safety section strong {color:#005288; font:18px/22px "HelveticaBlack";}
.slide-safety section .head, .slide-isi section .first {padding-top:16px;}
.slide-safety footer {position:absolute; left:36px; bottom:12px; font:17px/22px "HelveticaBoldCondensed"; width:660px; color:#000;}
.slide-safety .logo {position:absolute; top:18px; right:28px; background:url(../images/sm_blklogo.png) no-repeat; width:116px; height:38px;}


.slide-safety .collage {background:url(../images/ka-08-collage.jpg) no-repeat; width:366px; height:90px; position:absolute; bottom:0; right:0;}
.slide-safety .buttonwrap {position:absolute; bottom:46px; left:36px;}
.slide-safety button {margin-right:12px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddff), color-stop(49%,#5893c2), color-stop(50%,#336e9d), color-stop(100%,#508bba));  font: 12px/13px 'HelveticaBold'; color: #fff; padding:9px 0 5px; text-shadow: 0px -1px 1px #0176b0; border-collapse: collapse; width: 120px; height: 32px; -webkit-border-radius: 7px; border:3px solid #147dc6;  line-height: 1em; position:relative; -webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.2); }
.slide-safety button > span { position: relative; top: 0px; white-space: nowrap;}
.slide-safety button:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#508bba), color-stop(49%,#336e9d), color-stop(50%,#5893c2), color-stop(100%,#b4ddff)); -webkit-box-shadow: none; }


/*-- slide-ref --*/
.slide-ref {}
.slide-ref #popup {width:630px; height:270px;}
.slide-ref #popup ol {font:16px/20px "HelveticaBold";}
.slide-ref #popup ol li {margin-bottom:4px;}
.slide-ref #popup ol span {font:16px/20px "HelveticaRoman";}

