@import "fonts.css";
* {-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}

body { 
color: #fff; font-family: "HelveticaRoman"; margin: 0; padding: 0; background: #000; width: 1024px; line-height:135%;}

#main { 
width: 1024px; height: 658px; background:url(../images/ka_mainback.jpg) no-repeat; position: relative;} 
em {font-family: 'HelveticaItalic';}
strong {font-family: "HelveticaBold";}
img {border:none;}
h1 {margin: 0; padding: 0; font-family: "HelveticaCondensed"; font-size:33px;}
h1 sup {font-size:12px;}
h2 {font-family:"HelveticaHeavy"; font-size:16px; line-height:125%; color:#005288;}
h3 {margin: 4px 0; padding: 0; font-family: "HelveticaBold"; font-size:16px; color:#005288;}
p.blueNextScreen { color:#005288; } 
.symbol { font-family: sans-serif !important; }

.abbott_logo {text-align:right;}
.lg_logo {position:absolute; top:32px;}
#logo {position:absolute; top:20px; right:32px;} 
.kaletra_logo {text-align:right;}

.blk_bullet {background:url(../images/blk_bullet.png) no-repeat left 4px; padding-left:12px;}

#footer {position: absolute; font-family:"HelveticaCondensed"; bottom: 12px; left: 425px; width: 180px; font-size: 14px;}
#footer span {font-size:10px;}
#footer p {padding: 0; margin: 4px 0; }

.dkblueoverlay {background:#005288; opacity: .95; width: 1024px; height: 658px; position:absolute;}
.highlightbox {padding:0 10px; background:#fff; border:1px solid #F2AF32;}
.hyphenbullet {background:url(../images/hyphen.png) no-repeat left 6px; padding-left:22px; margin-left:12px;}
.hyphenwrap {padding:16px 0;}
#isi_back {
	position:absolute;
	background:#005288;
	width: 415px /*390px*/;
	height:658px;
	top:0;
	right:0/*25px*/;
	opacity: .5;
}
#isi_right {
	position:absolute;
	width:460px/*365px*/;
	height:658px;
	top:0;
	right:5px/*40px*/;
	font-size:14.5px;
	font-family:"HelveticaCondensed"; 
}
#isi_right strong {font-family:"HelveticaBoldCondensed"; }
#isi_right .isiitem {background:url(../images/wht_bullet.png) no-repeat left 2px; padding-left:10px;}

#popup { background: #FFF; color: #000; overflow: hidden; position: relative; height:500px; padding:11px 11px 11px 11px}
#popup p {margin:10px 0;}
#popup strong {font-weight:bold;}

.symbol { 
	font-family: sans-serif !important;
	line-height: 0px;
}
.smallcap {font-size:10px; line-height:120%;}
.underline {text-decoration:underline;}

/*-- buttons -- */
.dispositionbtn {position:absolute; bottom:6px; right:316px;}
.studybtn {position:absolute; bottom:6px; right:174px;}
.baselinebtn {position:absolute; bottom:6px; right:32px;}
.ncepbtn {position:absolute; bottom:6px; right:316px;}

/*-- charts --*/
body.chart #chart { position:relative; margin:-20px 0 0 -20px; }
body.chart { background:none; -webkit-transform:scale(.98); -webkit-transform-origin: top left; }
body.chart .chartTitle { color:#000; font-family:"HelveticaBlack"; font-size:18px; line-height: 16px; position:absolute;  }
body.chart .yLabel, body.chart .xLabel, .secondaryLabel { color:#000; font-family:"HelveticaBoldCondensed"; font-size:16px; position:absolute;  }
body.chart .barLabel p { color:#fff; font-family:"HelveticaHeavyCondensed"; font-size:17px; letter-spacing:-0.25em; margin:0;position:absolute; }
body.chart .yLabel { -webkit-transform: rotate(-90deg); }
body.chart .chartLegend { position:absolute;  }
body.chart .chartLegend p { color:#000; font-family:"HelveticaBoldCondensed"; font-size:11px; }
body.chart .chartLegend p.chartLegendFootnote { font-family:"HelveticaCondensed"; }

/*-- tabs --*/

.charttabwrap {position:absolute; top:128px; left:61px; -webkit-box-shadow: 0 0 75px 0px #535454;}

.tabwrap {/*position:absolute; top:497px; left:61px;*/ background:#fff; position:relative;}
.switch_tabwrap {/*position:absolute; top:536px; left:60px;*/ background:#fff; position:relative;}
.tabwrap #tab2, .tabwrap #tab3 {margin-left:1px;}

.lg_switchmrk_tab.active {background:url(../images/tab_on.png) repeat-x; float:left; text-align:center; }
.lg_switchmrk_tab {background:url(../images/tab_off.png) repeat-x; float:left; text-align:center; }
.lg_switchmrk_tab.active a {color:#fbb040; width:317px; height:41px; padding-top:24px; display:block; text-decoration:none; font-family: "HelveticaBold";}
.lg_switchmrk_tab a {color:#f9d798; width:317px; height:41px; padding-top:24px; display:block; text-decoration:none; font-family: "HelveticaBold";}

.sm_tab.active {background:url(../images/tab_on.png) repeat-x; float:left; text-align:center; }
.sm_tab {background:url(../images/tab_off.png) repeat-x; float:left; text-align:center; }
.sm_tab.active a {color:#fbb040; width:181px; padding-top:24px; height:41px; display:block; text-decoration:none; font-family: "HelveticaBold"; }
.sm_tab a {color:#f9d798; width:182px; padding-top:24px; height:41px; display:block; text-decoration:none; font-family: "HelveticaBold"; }

.tab.active {background:url(../images/tab_on.png) repeat-x; float:left; text-align:center; }
.tab {background:url(../images/tab_off.png) repeat-x; float:left; text-align:center; }
.tab.active a {color:#fbb040; width:274px; padding-top:24px; height:41px; display:block; text-decoration:none; font-family: "HelveticaBold";}
.tab a {color:#f9d798; width:274px; padding-top:24px; height:41px; display:block; text-decoration:none; font-family: "HelveticaBold";}

/*-- slide 01 --*/
.slide-1 #blueoverlay {background:#005288; opacity: 0; width: 1024px; height: 658px; position:absolute; -webkit-transition: all 1000ms;}
.slide-1 h1 {position:absolute; top:32px; left:62px; width:300px; font-size:25.5px; line-height:31px;}
.slide-1 #question {position:absolute; top:30; left:30px; top:15px; width:855px; font-family:"HelveticaCondensed"; color: #f2af32; font-size:31px; line-height:36px; opacity: 0; -webkit-transition: all 1000ms;}
.slide-1 #question span {font-family:"HelveticaCondensed" !important;}
.slide-1 #lg_logo {-webkit-transition: all 1000ms;}
.slide-1 #isi_back {position:absolute; background:#005288; width: 480px /*390px*/; height:658px; top:0; right:0/*25px*/;opacity: .5;}
.slide-1 #isi_right {position:absolute; width:460px/*365px*/; height:643px; top:14px; right:5px/*40px*/; font-size:17.4px; line-height: 18.4px; font-family:"HelveticaCondensed";}
.slide-1 .padup {position:relative; top:-8px; width:451px;}
.slide-1 #isi_right p {margin: 4px 0 4px; }
.slide-1 #isi_right .directions {position:relative; right: 0px; bottom: -53px;}
.slide-1 #isi_right sup {font-size: 60%;}
.slide-1 #isi_right .isiitem {background:url(../images/wht_bullet.png) no-repeat left 4px; padding-left:10px;}
.slide-1 .abbott_logo {position:absolute; bottom:15px; right:14px;}
.slide-1 .kaletra_logo {position:absolute; bottom:58px; right:14px;}

.slide-1 #footer {position: absolute; font-family:"HelveticaCondensed"; bottom: 12px; left: 202px; width: 350px; font-size: 17.4px; line-height:17.4px;}
.slide-1 #footer span {font-size: 17.4px; line-height:26px;}
.slide-1 #footer p {padding: 0; margin: 4px 0; }
.slide-1 #bareface > div { position:absolute; }
.slide-1 #samface { content: url(../images/ka-01-sam.png); left: 35px; top: 355px; }
.slide-1 #mariaface { content: url(../images/ka-01-maria.png);  left: 82px; top: 363px; }
.slide-1 #jamesface { content: url(../images/ka-01-james.png); left: 176px; top: 354px; }

.slide-1 .buttonwrap {position:absolute; top:128px; left:131px; visibility:hidden; opacity:0; -webkit-transition: all 1000ms;}
.slide-1 button {margin:20px 30px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2c564), color-stop(49%,#eeb44c), color-stop(50%,#eeb44c), color-stop(100%,#e89c2b));  font: 20px/20px 'HelveticaBoldCondensed'; color: #fff; padding:9px 0 5px; text-shadow: 1px 1px 1px #de7b1a; border-collapse: collapse; width: 200px; height: 58px; -webkit-border-radius: 7px; border:3px solid #f2b642;  line-height: 1em; position:relative; -webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.2); }
.slide-1 button > span { position: relative; bottom: 10px; white-space: nowrap;}


.slide-1 #footer2 {position: absolute; font-family:"HelveticaCondensed"; bottom: 12px; left: 30px; width: 930px; font-size: 16.5px; line-height:23px; opacity: 0; -webkit-transition: all 1000ms;}
.slide-1 #footer2 p {padding: 0; margin: 4px 0; }
.slide-1 #footer2 .abbott_logo {position:absolute; bottom:0px; right:0px;}


	/*-- popup 1 Safety --*/
	.popup-1-1 #popup { height: 265px; width: 680px;}
	.popup-1-1 #popup-content { padding: 22px 0 0 48px;}
	.popup-1-1 h3 {color:#005288; font:18px/22px "HelveticaBlack"; margin-bottom: -10px;}
	.popup-1-1 sup {font-size:60%;}
	.popup-1-1 ul { color: #a90056; font: 17px/18px "HelveticaBold"; margin: 0 0 0;}
		.popup-1-1 li { margin-bottom: 8px;}
		.popup-1-1 li span { color: #000;}
	
	
	/*-- popup 2 ISI --*/
.global {background:#fff; font-size:14px;font-family:"HelveticaRoman"; color:#000; padding-left:20px; padding-top:0px;}
.global h2 { font-family:"HelveticaBlack"; font-size:17px; line-height:125%; color:#005288;  margin-bottom:0px; margin-top:20px;}
.global h3 { margin: 4px 0; padding: 0; font-family: "HelveticaBold"; font-size:16px; color:#005288; margin-bottom:0px;}
.global p{margin-top:0px; margin-bottom:0px;}  
.global ul { padding-left:17px; margin-top:0px; font-size:24px; left:4px; position:relative;}
.global ul li span { font-size:14.5px; }

.global.indication{ width:815px; }
.global.isi{ width:900px;}
.global.isi sup {line-height:0;}
.global.isi h3 { margin-top:15px; }
.global.isi .toppad {margin-top:12px;}

#pre-font {font-family: 'HelveticaItalic';}
	