@import "fonts.css";
* {-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}

body { 
	color: #000;
	font-family: "HelveticaRoman"; 
	margin: 0; 
	padding: 0; 
	background: #000;
	width:  1024px;
}

#main { 
	width: 1024px; 
	height: 658px; 
	background: #fff url(../images/logo-bg.png) no-repeat right 576px; 
	overflow: hidden; 
	position: relative; 
}

#content { 
	width: 1024px; 
	height: 658px;
	position: relative;
}

.purple { 
	color: #b1005d; 
}

sup { 
	line-height: 0; 
}

#footer { 
	position: absolute;
	font-family:"HelveticaBoldCondensed";
	font-weight:bold;
	bottom: 25px;
	left: 50px;
	width: 650px;
	font-size: 18px; 
	color: #000; 
}

#footer p { 
	padding: 0; 
	margin: 4px 0; 
}

h1 { 
	margin: 0; 
	padding: 0; 
}

h1 span { 
	font-family:HelveticaNeue-Bold;
	font-size: 28px; 
	background: #b1005d url(../images/tab.png) no-repeat bottom right; 
	color: #fff; 
	padding: 20px 0 0 60px;
	height: 35px;
	line-height: 20px; 
	display: block; 
}
.symbol { font-family: sans-serif !important;}
#popup { background: #FFF; color: #000; overflow: hidden; position: relative;}
p.blueNextScreen { color:#005288; } 
.dots .dot { background: url(../images/LR-dots.png) no-repeat left top; float: left; height: 22px; margin: 0 15px 0 0; width: 22px;}
	.dots>.active { background-position: -37px 0;}
.btn-yellow-1 { background: url(../images/LR-btn-yellow.png) no-repeat left top; color: #a90056; font: 16px/19px "HelveticaBoldCondensed"; height: 41px; padding: 19px 5px 0 0;text-align: center; text-transform: uppercase; width: 163px;}
.btn-yellow-2 { background: url(../images/LR-btn-yellow.png) no-repeat left top; color: #a90056; font: 16px/19px "HelveticaBoldCondensed"; height: 49px; padding: 10px 5px 0 0;text-align: center; text-transform: uppercase; width: 163px;}
.btn-grey-1 {background: url(../images/LR-04-btn-grey.png) no-repeat left top; color: #636466; font: 16px/19px "HelveticaBoldCondensed"; height: 41px; padding: 19px 5px 0 0; text-align: center; text-transform: uppercase; width: 163px;}
.btn-grey-2 {background: url(../images/LR-04-btn-grey.png) no-repeat left top; color: #636466; font: 16px/19px "HelveticaBoldCondensed"; height: 49px; padding: 10px 5px 0 0; text-align: center; text-transform: uppercase; width: 163px;}

	.btn-grey-1 span, .btn-grey-2 span, .btn-yellow-1 span, .btn-yellow-2 span { text-transform: none;}

/*-- slide 1 --*/
.slide-1 #btn-1 { left: 60px; position: absolute; top: 130px;}
.slide-1 #copy-1 { color: #000; font: 15px/18px "HelveticaLight"; left: 60px; position: absolute; top: 89px; line-height:22px; font-size:20px;}
	.slide-1 #copy-1 p { margin: 0 0 10px; padding: 0 0 0 5px;}
	.slide-1 #copy-1 sup { font-size: 70%;}
	.slide-1 #copy-1 .first-char { margin: 0 0 0 -5px;}
.slide-1 #graph-1 { background: url(../images/LR-01-graph-01.png) no-repeat left top; height: 469px; left: 305px; position: absolute; top: 82px; width: 702px; }
	.slide-1 #copy-1 h2 {color:#b1005d; font-size:25px; font-family:"HelveticaRoman"; text-shadow: rgba(0,0,0,0.29) 3px 3px 3px;}
	.slide-1 #copy-1 .leftcol {width:286px; float:left; font-family:"HelveticaLight"; font-size:20px;}
	.slide-1 #copy-1 .rightcol {width:581px; float:left; padding-left:62px; font-family:"HelveticaLight";}
	.slide-1 strong {font-family:"HelveticaBold"}
	
	.slide-1 #copy-1 .textblock {background: url(../images/swoop.png) no-repeat left top;  padding:18px 0 0 27px;}
	.slide-1 #copy-1 .textblock2 {background: url(../images/swoop.png) no-repeat left top;  padding:18px 0 0 27px;}
	.slide-1 #copy-1 .textblock span {color:#b1005d;}

	/*-- slide 1 popup 1 --*/
	.popup-1-1 #popup { height: 600px; width: 906px;}
	.popup-1-1 #popup-content { padding: 22px 0 0 48px;}
	.popup-1-1 ul { color: #a90056; font: 17px/18px "HelveticaBold"; margin: 0 0 14px;}
		.popup-1-1 li { margin-bottom: 8px;}
		.popup-1-1 li span { color: #000;}
	.popup-1-1 #graph-1 { background: url(../images/lr-01-popup-01-graph-01.png) no-repeat left top; color: #000; font: 15px/1.333 "HelveticaLight"; margin: 0 0 0 62px; padding: 402px 0 0; width: 705px;}	

/*-- slide 2 --*/
.slide-2 #content h2 { color: #b1005d; font: 20px/23px "HelveticaBold"; margin: 0 0 8px;}
.slide-2 #copy-1, .slide-2 #copy-2 { clear: left; color: #000; float: left; font: 20px/23px "HelveticaLight"; margin: 42px 0 0 60px; width: 900px;}
.slide-2 #copy-2 {margin-top:16px; width:700px;}
	.slide-2 #copy-1 span, .slide-2 #copy-2 span { font: 23px/0 "HelveticaBold";}
	.slide-2 #copy-1 p, .slide-2 #copy-2 p { margin: 0 0 10px;}
	.slide-2 #copy-1 .bordered, .slide-2 #copy-2 .bordered { background: url(../images/LR-02-bordered.gif) no-repeat left top; min-height: 112px; padding: 0 0 0 25px;}
	.slide-2 #copy-1 .tagline {font-family:"HelveticaCondensedOblique"; font-weight:bold; font-style:oblique; font-size:20px; line-height:44px; text-shadow: rgba(0,0,0,0.29) 3px 3px 3px; color:#b1005d;}
	.slide-2 #copy-1 .tagline strong {font-size:40px; font-weight:normal;}
	.slide-2 #copy-1 .tagline sup {font-size:24px;}
	.slide-2 #copy-3 {width:700px;}
	
.slide-2 #copy-3 { color: #000; font: 20px/23px "HelveticaLight"; position: absolute; right: 41px; top: 78px; width: 350px;}
	.slide-2 #copy-3 span { font-family: "HelveticaBold";}
.slide-2 #copy-4 { font: 16px/19px "HelveticaLight"; margin: 33px 0 0;}
	.slide-2 #copy-4 p { margin: 0 0 3px;}
	.slide-2 #copy-2 .redbullet {background: url(../images/redbullet.gif) no-repeat; padding-left:20px; line-height:24px;}
	.slide-2 #copy-2 .redbulletsub {background: url(../images/redbulletsub.gif) no-repeat top 14px;padding-left:36px; line-height:24px;}
	
/*-- slide 3 --*/


.slide-3 #copy-1 { color: #b1005d; font: 22px/27px "HelveticaBold"; left: 60px; position: absolute; text-shadow: 3px 3px 3px #c1c1c1; top: 80px; width: 235px;}
	.slide-3 #copy-1 .line-1 { font-size: 24px;}
	.slide-3 #copy-1 .line-2 { padding: 0 0 0 40px;}
		.slide-3 #copy-2 .line-2 span { font-size: 26px;}		
	.slide-3 #copy-1 .line-3 { padding: 0 0 0 5px;}
	.slide-3 #copy-1 .line-4 { padding: 0 0 0 28px;}
	.slide-3 #copy-1 .line-5 { font-size: 26px; padding: 0 0 0 70px;}
		.slide-3 #copy-1 .line-5 sup { font-size: 16px;}
.slide-3 #graph-1 { background: url(../images/AS-03-graph-01.png) no-repeat left top; height: 470px; left: 305px; position: absolute; top: 80px; width: 706px;}	
.slide-3 #dots-1 { background: url(../images/LR-03-dots.png) no-repeat left top; height: 23px; left: 887px; position: absolute; top: 538px;}
.slide-3 #btn-1 {left: 60px; position: absolute; top: 100px;}

.slide-3 #copy-2 { color: #b1005d; font: 22px/27px "HelveticaBold"; left: 60px; position: absolute; text-shadow: 3px 3px 3px #c1c1c1; top: 80px; width: 235px;}
	.slide-3 #copy-2 .line-1 { padding: 0 0 0 20px;}
		.slide-3 #copy-2 .line-1 span { font-size: 38px; line-height: 0;}
	.slide-3 #copy-2 .line-2 {}
	.slide-3 #copy-2 .line-3 { padding: 0 0 0 20px;}
	.slide-3 #copy-2 .line-4 {}
		.slide-3 #copy-2 .line-4 span { font-size: 27px; line-height: 0;}
	.slide-3 #copy-2 .line-5 { font-size: 27px; padding: 0 0 0 55px;}
		.slide-3 #copy-2 .line-5 sup { font-size: 16px;}
.slide-3 #graph-2 { background: url(../images/LR-03-graph-02.png) no-repeat left top; height: 472px; left: 305px; position: absolute; top: 80px; width: 706px;}	
.slide-3 #content .btn-yellow-1 { background: url(../images/LR-btn-yellow.png) no-repeat left top; color: #a90056; font: 16px/19px "HelveticaBoldCondensed"; height: 51px; padding: 9px 5px 0 0;text-align: center; text-transform: uppercase; width: 163px;}
.slide-3 #content .eow {margin-top:250px; padding-left:52px;}

.popup-1-1 #popup h1 {font-family: "HelveticaBold"; font-size: 28px; padding: 20px 0 0 60px; color:#b1005d}

/*-- slide 3 popup 1 --*/
	.popup-3-1 #popup { font: 19px/25px "HelveticaLight"; height: 275px; width: 445px;}
	.popup-3-1 #popup-content { padding: 60px 35px 0;}

/*-- slide 4 --*/
.slide-4 #copy-1 { color: #b1005d; font: 22px/27px "HelveticaBold"; left: 60px; position: absolute; text-shadow: 3px 3px 3px #c1c1c1; top: 80px; width: 735px;}
	.slide-4 #copy-1 .line-1 { font-size: 25px;}
	.slide-4 #copy-1 .line-2 { padding: 0 0 0 60px;}
	.slide-4 #copy-1 .line-3 { padding: 0 0 0 10px;}
	.slide-4 #copy-1 .line-4 { font-size: 25px; padding: 0 0 0 35px;}
	.slide-4 #copy-1 .line-5 {}
		.slide-4 #copy-1 .line-5 sup { font-size: 16px;}
.slide-4 #copy-2 { color: #636466; font: 19px/21px "HelveticaBold"; left: 60px; position: absolute; top: 302px;}		
	.slide-4 #copy-2 span { color: #b1005d; display: block; font-size: 20px; margin: 0 0 3px; text-shadow: 3px 3px 3px #c1c1c1;}
.slide-4 #graph-1 { background: url(../images/LR-04-graph-01.png) no-repeat left top; height: 472px; left: 305px; position: absolute; top: 80px; width: 706px;}	
.slide-4 #btn-1 {left: 60px; position: absolute; top: 450px;}
.slide-4 #btn-2 {left: 60px; position: absolute; top: 518px;}

	.slide-4 #copy-2 .redbullet {background: url(../images/redbullet.gif) no-repeat; padding-left:20px; line-height:24px;}
	.slide-4 #copy-2 .redbulletsub {background: url(../images/redbulletsub.gif) no-repeat top 14px;padding-left:36px; line-height:24px;}

	/*-- slide 4 popup 1 --*/
	.popup-4-1 #popup { display: table; font: 19px/25px "HelveticaLight"; height: 275px; width: 445px;}
	.popup-4-1 #popup-content { display:table-cell; height: 100%; padding: 0 0 0 35px; vertical-align: middle; width: 100%;}
	/*-- slide 4 popup 2 --*/
	.popup-4-1 #popup { display: table; font: 19px/25px "HelveticaLight"; height: 275px; width: 445px;}
	.popup-4-1 #popup-content { display:table-cell; height: 100%; padding: 0 0 0 110px; vertical-align: middle; width: 100%;}	
	
/*-- slide 5 --*/
.slide-5 #copy-1 { color: #b1005d; font: 18px/27px "HelveticaBold"; left: 60px; position: absolute; text-shadow: 3px 3px 3px #c1c1c1; top: 80px; width: 235px;}
	.slide-5 #copy-1 .line-1 { font-size: 25px;}
	.slide-5 #copy-1 .line-2 { padding: 0 0 0 35px;}
	.slide-5 #copy-1 .line-2 span { font-size: 27px; line-height: 0;}
	.slide-5 #copy-1 .line-3 { font-size: 22px; padding: 0 0 0 10px;}
	.slide-5 #copy-1 .line-4 {padding: 0 0 0 20px;}
	.slide-5 #copy-1 .line-5 {}
	.slide-5 #copy-1 .line-6 {padding: 0 0 0 16px;}
	.slide-5 #copy-1 .line-7 {}
	.slide-5 #copy-1 .line-8 {padding: 0 0 0 36px;}
	
		.slide-5 #copy-1 .line-5 sup { font-size: 16px;}
.slide-5 #graph-1 { background: url(../images/AS-05-graph-01.png) no-repeat left top; height: 472px; left: 301px; position: absolute; top: 80px; width: 710px;}	
.slide-5 #graph-2 { background: url(../images/AS-05-graph-02.png) no-repeat left top; height: 472px; left: 301px; position: absolute; top: 80px; width: 710px;}
.slide-5 #graph-3 { background: url(../images/AS-05-graph-03.png) no-repeat left top; height: 472px; left: 301px; position: absolute; top: 80px; width: 710px;}

.slide-5 #btn-1 {left: 60px; position: absolute; top: 450px;}
.slide-5 #btn-2 {left: 60px; position: absolute; top: 518px; padding-top:12px; padding-bottom:6px;}	
	
	.slide-5 #copy-2 { left: 60px; position: absolute; top: 270px; width:200px; font-size: 18px;}
	.slide-5 #copy-2 strong {color: #b1005d; font-weight:bold; font-size:22px;}
	.slide-5 #dots-1 { background: url(../images/LR-03-dots.png) no-repeat left top; height: 23px; left: 887px; position: absolute; top: 538px;}
	
	/*-- slide 4 popup 1 --*/
	.popup-5-1 #popup { display: table; font: 19px/25px "HelveticaLight"; height: 275px; width: 445px;}
	.popup-5-1 #popup-content { display:table-cell; height: 100%; padding: 0 0 0 35px; vertical-align: middle; width: 100%;}	
	/*-- slide 5 popup 2 --*/
	.popup-5-1 #popup { display: table; font: 19px/25px "HelveticaLight"; height: 275px; width: 445px;}

	.popup-5-1 #popup-content { display:table-cell; height: 100%; padding: 0 0 0 80px; vertical-align: middle; width: 100%;}
	
	.popup-5-3 #popup { display: table; font: 19px/25px "HelveticaLight"; height: 575px; width: 945px;}
	.popup-5-3 #popup-content { display:table-cell; height: 100%; padding: 20px 0 0 60px; width: 100%; line-height:29px;}
	.popup-5-3 #popup-content h1 {font-family: "HelveticaBold"; font-size: 28px; padding: 20px 0 0 0; color:#b1005d}
	
	.popup-5-3 #popup .redbullet {background: url(../images/redbullet.gif) no-repeat; margin:40px 0 40px 0; padding-left:20px; line-height:24px;}
	.popup-5-3 #popup .week12 {float:left;}
	.popup-5-3 #popup .week14 {float:left;}
	
	
/*-- slide 6 --*/
.slide-6 #copy-1 { color: #b1005d; font: 18px/27px "HelveticaBold"; left: 60px; position: absolute; text-shadow: 3px 3px 3px #c1c1c1; top: 80px; width: 235px;}
	.slide-6 #copy-1 .line-1 { font-size: 20px;}
	.slide-6 #copy-1 .line-2 { padding: 0 0 0 35px;}
	.slide-6 #copy-1 .line-2 span { font-size: 27px; line-height: 0;}
	.slide-6 #copy-1 .line-3 { font-size: 22px; padding: 0 0 0 10px;}
	.slide-6 #copy-1 .line-4 {padding: 0 0 0 20px;}
	.slide-6 #copy-1 .line-5 {}

	
		.slide-6 #copy-1 .line-5 sup { font-size: 16px;}
.slide-6 #graph-1 { background: url(../images/AS-06-graph-01.png) no-repeat left top; height: 485px; left: 301px; position: absolute; top: 80px; width: 710px;}	


.slide-6 #btn-1 {left: 60px; position: absolute; top: 410px;}
.slide-6 #btn-2 {left: 60px; position: absolute; top: 478px; padding-top:12px; padding-bottom:6px;}	
.slide-6 #content .bottomdisc {left: 60px; position: absolute; top: 524px; padding-top:12px; padding-bottom:6px; width:200px; font-size:14px;}	

	.slide-6 #copy-2 { left: 60px; position: absolute; top: 220px; width:200px; font-size: 16px;}
	.slide-6 #copy-2 strong {color: #b1005d; font-weight:bold; font-size:22px;}
	.slide-6 #dots-1 { background: url(../images/LR-03-dots.png) no-repeat left top; height: 23px; left: 887px; position: absolute; top: 538px;}

	/*-- slide 6 popup 1 --*/
	.popup-6-1 #popup { display: table; font: 19px/25px "HelveticaLight"; height: 275px; width: 445px; }
	.popup-6-1 #popup-content { display:table-cell; height: 100%; padding: 0 0 0 35px; width: 100%; vertical-align: middle;}
	
	.popup-6-2 #popup { background: url(../images/AS-06-popup-01-graph-01.png) no-repeat left top; height: 436px; left: 20px; position: absolute; top: 20px; width: 686px; }

	
	

/*-- slide 7 --*/
.slide-7 #copy-1 { background:url(../images/swoop.png) no-repeat; font: 21px/23px "HelveticaLight"; float: left; margin: 25px 0 0 60px; width: 700px; left: 200px; position: absolute; top: 85px; padding:22px 0 0 32px}
.slide-7 #copy-1 strong {font-family: "HelveticaBold";}
	.slide-7 #copy-1 h2 { color: #b1005d; font-family: "HelveticaBold"; font-size: 28px; line-height: 28px; margin: 0 0 13px; text-shadow: 3px 3px 3px #c1c1c1;}
	.slide-7 #copy-1 h3 { color: #b1005d; font-family: "HelveticaBold"; font-size: 23px; margin: 0 0 8px;}
	.slide-7 #copy-1 p { margin: 0 0 13px;}
	.slide-7 #copy-1 h3:last-of-type + p { font-family: "HelveticaBold";}
	
.slide-7 #buttons { left: 25px; position: absolute; top: 285px; width: 180px;}
	.slide-7 #buttons div { margin: 0 0 15px;}	
.slide-7 #btn-1 {left: 60px; position: absolute; top: 518px;}

	/*-- slide 7 popup 1 --*/
	.popup-7-1 #popup { height: 545px; width: 900px;}
	.popup-7-1 #copy-1 {color: #b1005d; font: 22px/27px "HelveticaBold"; left: 10px; position: absolute; text-shadow: 3px 3px 3px #c1c1c1; top: 40px; width: 235px;}
		.popup-7-1 #copy-1 .line-1 { font-size: 26px;}
		.popup-7-1 #copy-1 .line-2 {}
		.popup-7-1 #copy-1 .line-3 {}
		.popup-7-1 #copy-1 .line-4 {}
			.popup-7-1 #copy-1 .line-4 span { font-size: 26px; line-height: 0;}
	.popup-7-1 #copy-2 { font: 15px/18px "HelveticaLight"; left: 15px; position: absolute; top: 275px;}
		.popup-7-1 #copy-2 p { margin: 0 0 10px; padding: 0 0 0 5px;}
		.popup-7-1 #copy-2 sup { font-size: 70%;}
		.popup-7-1 #copy-2 .first-char { margin: 0 0 0 -5px;}	
	.popup-7-1 #graph-1 { background: url(../images/AS-07-popup-01-graph-01.png) no-repeat left top; height: 473px; left: 60px; position: absolute; top: 18px; width: 765px;}		
	

/*-- slide 8 --*/
.slide-8 #copy-1 { color: #b1005d; font: 22px/27px "HelveticaBold"; left: 60px; position: absolute; text-shadow: 3px 3px 3px #c1c1c1; top: 80px; width: 235px;}
	.slide-8 #copy-1 strong {font-size:28px;}
	.slide-8 #copy-1 .line-1 { font-size: 20px;}
	.slide-8 #copy-1 .line-2 { padding: 0 0 0 35px;}
	.slide-8 #copy-1 .line-2 span { font-size: 27px; line-height: 0;}
	.slide-8 #copy-1 .line-3 { font-size: 22px; padding: 0 0 0 10px;}
	.slide-8 #copy-1 .line-4 {padding: 0 0 0 20px;}
	.slide-8 #copy-1 .line-5 {}

	
		.slide-8 #copy-1 .line-5 sup { font-size: 16px;}
.slide-8 #graph-1 { background: url(../images/AS-08-graph-01.png) no-repeat left top; height: 455px; left: 301px; position: absolute; top: 80px; width: 711px;}	
.slide-8 #graph-2 { background: url(../images/AS-08-2-graph-01.png) no-repeat left top; height: 455px; left: 301px; position: absolute; top: 80px; width: 711px;}	

.slide-8 #btn-1 {left: 60px; position: absolute; top: 410px;}
.slide-8 #btn-2 {left: 60px; position: absolute; top: 478px; padding-top:12px; padding-bottom:6px;}	
.slide-8 #content .bottomdisc {left: 60px; position: absolute; top: 524px; padding-top:12px; padding-bottom:6px; width:200px; font-size:14px;}	

	.slide-8 #copy-2 { left: 60px; position: absolute; top: 220px; width:200px; font-family:"HelveticaBold"; font-size:22px; color: #b1005d; line-height:26px; text-shadow: rgba(0,0,0,0.29) 3px 3px 3px; }
	.slide-8 #copy-2 strong {color: #b1005d; font-size:28px;}
	.slide-8 #dots-1 { background: url(../images/LR-03-dots.png) no-repeat left top; height: 23px; left: 887px; position: absolute; top: 538px;}

	/*-- slide 8 popup 1 --*/
	.popup-8-1 #popup { display: table; font: 19px/25px "HelveticaLight"; height: 275px; width: 445px;}
	.popup-8-1 #popup-content { display:table-cell; height: 100%; padding: 0 0 0 35px; vertical-align: middle; width: 100%;}
	
	.popup-8-2 #popup { background: url(../images/AS-06-popup-01-graph-01.png) no-repeat left top; height: 436px; left: 20px; position: absolute; top: 20px; width: 686px; border:1px solid red; }

		

/*-- slide 9 --*/
.slide-9 #copy-1 { color: #b1005d; font: 18px/27px "HelveticaBold"; left: 60px; position: absolute; text-shadow: 3px 3px 3px #c1c1c1; top: 80px; width: 235px;}
	.slide-9 #copy-1 .line-1 { font-size: 24px;}
	.slide-9 #copy-1 .line-1 strong {font-size:32px;}
	.slide-9 #copy-1 .line-2 { padding: 0 0 0 35px;}
	.slide-9 #copy-1 .line-2 span { font-size: 27px; line-height: 0;}
	.slide-9 #copy-1 .line-3 { font-size: 22px; padding: 0 0 0 10px;}
	.slide-9 #copy-1 .line-4 {padding: 0 0 0 20px;}
	.slide-9 #copy-1 .line-5 {}

	
		.slide-9 #copy-1 .line-5 sup { font-size: 16px;}
.slide-9 #graph-1 { background: url(../images/AS-09-graph-01.png) no-repeat left top; height: 485px; left: 301px; position: absolute; top: 80px; width: 710px;}	


.slide-9 #btn-1 {left: 60px; position: absolute; top: 410px;}
.slide-9 #btn-2 {left: 60px; position: absolute; top: 478px; padding-top:12px; padding-bottom:6px;}	
.slide-9 #content .bottomdisc {left: 60px; position: absolute; top: 524px; padding-top:12px; padding-bottom:6px; width:200px; font-size:14px;}	

	.slide-9 #copy-2 { left: 60px; position: absolute; top: 200px; width:200px; font-size: 18px; line-height:22px;}
	.slide-9 #copy-2 strong {color: #b1005d; font-weight:bold; font-size:22px; text-shadow: rgba(0,0,0,0.29) 3px 3px 3px;}
	.slide-9 #dots-1 { background: url(../images/LR-03-dots.png) no-repeat left top; height: 23px; left: 887px; position: absolute; top: 538px;}

	/*-- slide 9 popup 1 --*/
	.popup-9-1 #popup { display: table; font: 19px/25px "HelveticaLight"; height: 578px; width: 811px; }
	.popup-9-1 #popup-content { display:table-cell; height: 100%; padding: 0 0 0 35px; width: 100%; vertical-align: middle;}
	
	.popup-9-2 #popup { background: url(../images/AS-06-popup-01-graph-01.png) no-repeat left top; height: 436px; left: 20px; position: absolute; top: 20px; width: 686px; }