@import "fonts.css";
* {-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}

body { 
color: #fff; font-family: "HelveticaRoman"; margin: 0; padding: 0; background: #000; width:  1024px; line-height:135%;}

#main { 
width: 1024px; height: 658px; background:url(../images/ka_mainback.jpg) no-repeat; position: relative;} 
em {font-family: 'HelveticaItalic';}
strong {font-family: "HelveticaBold";}
img {border:none;}
h1 {margin: 0; padding: 0; font-family: "HelveticaCondensed"; font-size:33px;}
h1 sup {font-size:12px;}
h2 {font-family:"HelveticaHeavy"; font-size:16px; line-height:125%; color:#005288;}
h3 {margin: 4px 0; padding: 0; font-family: "HelveticaBold"; font-size:16px; color:#005288;}

p.blueNextScreen { color:#005288; font-family:"HelveticaRoman" !important; font-size:16px; line-height:125%; color:#005288;} 
.abbott_logo {text-align:right;}
.lg_logo {position:absolute; top:32px;}
#logo {position:absolute; top:20px; right:32px;} 
.kaletra_logo {text-align:right;}

.blk_bullet {background:url(../images/blk_bullet.png) no-repeat left 4px; padding-left:12px;}

#footer {position: absolute; font-family:"HelveticaCondensed"; bottom: 12px; left: 425px; width: 180px; font-size: 14px;}
#footer span {font-size:10px;}
#footer p {padding: 0; margin: 4px 0; }

.dkblueoverlay {background:#005288; opacity: .95; width: 1024px; height: 658px; position:absolute;}
.highlightbox {padding:0 10px; background:#fff; border:1px solid #F2AF32;}
.hyphenbullet {background:url(../images/hyphen.png) no-repeat left 6px; padding-left:22px; margin-left:12px;}
.hyphenwrap {padding:16px 0;}
#isi_back {
	position:absolute;
	background:#005288;
	width: 415px /*390px*/;
	height:658px;
	top:0;
	right:0/*25px*/;
	opacity: .5;
}
#isi_right {
	position:absolute;
	width:385px/*365px*/;
	height:658px;
	top:0;
	right:15px/*40px*/;
	font-size:14.5px;
	font-family:"HelveticaCondensed";
}
#isi_right strong {font-family:"HelveticaBoldCondensed"; }
#isi_right .isiitem {background:url(../images/wht_bullet.png) no-repeat left 2px; padding-left:10px;}

#popup { background: #FFF; height:500px; padding:22px}
#popup p {margin:10px 0;}
#popup strong {font-weight:bold;}

.symbol { 
	font-family: sans-serif !important;
	line-height: 0px;
}
.smallcap {font-size:10px; line-height:120%;}
.underline {text-decoration:underline;}

sup {font-size:50%; line-height:0;}


/*-- slide 01 --*/

.slide-1 sup {line-height:0; font-size:60%;}
.slide-1 #content {background:#fff; width:1024px; height:658px; position:relative;}
.slide-1 header {color:#005287; position:absolute;  z-index:55; top:22px; left:36px; font:31px/33px "HelveticaCondensed"; width:700px;}
.slide-1 .headerborder {border-top:2px solid #f2af32; -webkit-box-shadow: 0 0 5px rgba(0,0,0,1); width:340px; position:absolute; top:95px; left:36px;}
.slide-1 section {color:#f2af32; position:absolute;  z-index:55; top:80px; left:36px; color:#000; width:988px;}
.slide-1 section .bullet {background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px;}
.slide-1 section strong {color:#005287; font:17px/19px "HelveticaBlack"; }

.slide-1 section .cta {margin:0 30px 24px 0; position:relative; float:left; width:442px; height:186px; padding:12px 0 0 18px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0c4d6), color-stop(15%,#eef5f8), color-stop(50%,#ffffff), color-stop(85%,#eef5f8), color-stop(100%,#a0c4d6)); -webkit-box-shadow: 1px 0 1px rgba(0,0,0,.2); -webkit-border-radius: 12px;}
.slide-1 section .cta .ctatitle {color:#f2af32; font:26px/24px "HelveticaRoman"; }
.slide-1 section .cta .ctatitle strong{font:26px/28px "HelveticaBold" !important;color:#f2af32; }
.slide-1 section .cta .ctaimage {text-align:center;}
.slide-1 section .cta .ctaicon {position:absolute; bottom:0; right:0; background:url(../images/ps-02-ctaicon.png) no-repeat; width:36px; height:32px;}

.slide-1 footer {position:absolute; left:36px; bottom:12px; font:17px/22px "HelveticaBoldCondensed"; width:660px; color:#000;}
.slide-1 .logo {position:absolute; top:18px; right:28px; background:url(../images/sm_blklogo.png) no-repeat; width:116px; height:38px;}
.slide-1 .kaletralogo {position:absolute; bottom:12px; right:28px; background:url(../images/global-logo.jpg) no-repeat; width:252px; height:75px;}

/*-- popup-1-1 --*/
.popup-1-1{}
.popup-1-1 #popup{width:600px;}
.popup-1-1 #popup .title {color:#f2af32; font:33px/34px "HelveticaRoman";}
.popup-1-1 #popup .title strong{font:33px/34px "HelveticaBold" !important;color:#f2af32; }
.popup-1-1 #popup .lgimage {text-align:center; margin:22px 0;}
.popup-1-1 #popup p {color:#000; background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:22px/24px "HelveticaCondensed"; color:#00529c;}

/*-- popup-1-2 --*/
.popup-1-2{}
.popup-1-2 #popup{width:600px;}
.popup-1-2 #popup .title {color:#f2af32; font:33px/34px "HelveticaRoman";}
.popup-1-2 #popup .title strong{font:33px/34px "HelveticaBold" !important;color:#f2af32; }
.popup-1-2 #popup .lgimage {text-align:center; margin:22px 0;}
.popup-1-2 #popup p {color:#000; background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:22px/24px "HelveticaCondensed"; color:#00529c;}

/*-- popup-1-3 --*/
.popup-1-3{}
.popup-1-3 #popup{width:600px;}
.popup-1-3 #popup .title {color:#f2af32; font:33px/34px "HelveticaRoman";}
.popup-1-3 #popup .title strong{font:33px/34px "HelveticaBold" !important;color:#f2af32; }
.popup-1-3 #popup .lgimage {text-align:center; margin:22px 0;}
.popup-1-3 #popup p {color:#000; background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:22px/24px "HelveticaCondensed"; color:#00529c;}

/*-- popup-1-4 --*/
.popup-1-4{}
.popup-1-4 #popup{width:600px;}
.popup-1-4 #popup .title {color:#f2af32; font:33px/34px "HelveticaRoman";}
.popup-1-4 #popup .title strong{font:33px/34px "HelveticaBold" !important;color:#f2af32; }
.popup-1-4 #popup .lgimage {text-align:center; margin:22px 0;}
.popup-1-4 #popup p {color:#000; background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:22px/24px "HelveticaCondensed"; color:#00529c;}


/*-- slide 02 --*/

.slide-2 sup {line-height:0; font-size:60%;}
.slide-2 #content {background:#fff; width:1024px; height:658px; position:relative;}
.slide-2 header {color:#005287; position:absolute;  z-index:55; top:22px; left:36px; font:31px/33px "HelveticaCondensed"; width:700px;}
.slide-2 .headerborder {border-top:2px solid #f2af32; -webkit-box-shadow: 0 0 5px rgba(0,0,0,1); width:340px; position:absolute; top:95px; left:36px;}
.slide-2 section {color:#f2af32; position:absolute;  z-index:55; top:80px; left:36px; color:#000; width:988px;}
.slide-2 aside .bullet {background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:20px/24px "HelveticaRoman";}
.slide-2 section strong {color:#005287; font:17px/19px "HelveticaBlack"; }
.slide-2 section p {color:#005287; font:17px/19px "HelveticaMedium";}
.slide-2 section .cta {margin:0 30px 24px 0; position:relative; float:left; width:442px; height:186px; padding:12px 0 0 18px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0c4d6), color-stop(15%,#eef5f8), color-stop(50%,#ffffff), color-stop(85%,#eef5f8), color-stop(100%,#a0c4d6)); -webkit-box-shadow: 1px 0 1px rgba(0,0,0,.2); -webkit-border-radius: 12px;}
.slide-2 section .cta .ctatitle {color:#f2af32; font:26px/24px "HelveticaRoman"; }
.slide-2 section .cta .ctatitle strong{font:26px/28px "HelveticaBold" !important;color:#f2af32; }
.slide-2 section .cta .ctaimage {text-align:center;}
.slide-2 section .cta .ctaicon {position:absolute; bottom:0; right:0; background:url(../images/ps-02-ctaicon.png) no-repeat; width:36px; height:32px;}
.slide-2 section img {border:1px solid black;}
.slide-2 footer {position:absolute; left:36px; bottom:12px; font:17px/22px "HelveticaBoldCondensed"; width:660px; color:#000;}
.slide-2 .logo {position:absolute; top:18px; right:28px; background:url(../images/sm_blklogo.png) no-repeat; width:116px; height:38px;}
.slide-2 .collage {background:url(../images/ka-08-collage.jpg) no-repeat; width:366px; height:90px; position:absolute; bottom:0; right:0;}

.slide-2 .partnershipLogo {position:absolute; top:18px; right:78px; background:url(../images/global-logo-partnership.jpg) no-repeat; width:160px; height:59px;}
.slide-2 aside {width:300px; position:absolute; color:#000; top:75px; right:32px;}


/*-- slide 03 --*/

.slide-3 sup {line-height:0; font-size:60%;}
.slide-3 #content {background:#fff; width:1024px; height:658px; position:relative;}
.slide-3 header {color:#005287; position:absolute;  z-index:55; top:22px; left:36px; font:31px/33px "HelveticaCondensed"; width:700px;}
.slide-3 .headerborder {border-top:2px solid #f2af32; -webkit-box-shadow: 0 0 5px rgba(0,0,0,1); width:340px; position:absolute; top:95px; left:36px;}
.slide-3 section {color:#f2af32; position:absolute;  z-index:55; top:80px; left:36px; color:#000; width:988px;}
.slide-3 section .bullet {background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px;}
.slide-3 section strong {color:#005287; font:17px/19px "HelveticaBlack"; }

.slide-3 section .cta {margin:0 20px 24px 0; position:relative; float:left; width:285px; height:200px; padding:12px 0 0 18px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0c4d6), color-stop(15%,#eef5f8), color-stop(50%,#ffffff), color-stop(85%,#eef5f8), color-stop(100%,#a0c4d6)); -webkit-box-shadow: 1px 0 1px rgba(0,0,0,.2); -webkit-border-radius: 12px;}
.slide-3 section .cta .ctatitle {color:#f2af32; font:20px/20px "HelveticaRoman"; }
.slide-3 section .cta .ctatitle span {color:#005287; font:12px/12px "HelveticaBold";}
.slide-3 section .cta .ctatitle strong{font:26px/28px "HelveticaBold" !important;color:#f2af32; }
.slide-3 section .cta .ctaimage {text-align:right; padding-right:8px;}
.slide-3 section .cta .ctaicon {position:absolute; top:0; right:0; background:url(../images/ps-02-ctaicon.png) no-repeat; width:36px; height:32px;}

.slide-3 footer {position:absolute; left:36px; bottom:12px; font:17px/22px "HelveticaBoldCondensed"; width:660px; color:#000;}
.slide-3 .logo {position:absolute; top:18px; right:28px; background:url(../images/sm_blklogo.png) no-repeat; width:116px; height:38px;}
.slide-3 .partnershipLogo {position:absolute; top:18px; right:78px; background:url(../images/global-logo-partnership.jpg) no-repeat; width:160px; height:59px;}
.slide-3 .collage {background:url(../images/ka-08-collage.jpg) no-repeat; width:366px; height:90px; position:absolute; bottom:0; right:0;}

/*-- popup-3-1 --*/
.popup-3-1{}
.popup-3-1 #popup{width:600px;}
.popup-3-1 #popup .title {color:#f2af32; font:33px/34px "HelveticaRoman";}
.popup-3-1 #popup .title strong{font:33px/34px "HelveticaBold" !important;color:#f2af32; }
.popup-3-1 #popup .lgimage {text-align:center; margin:22px 0;}
.popup-3-1 #popup p {color:#000; background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:22px/24px "HelveticaCondensed"; color:#00529c;}


/*-- popup-3-2 --*/
.popup-3-2{}
.popup-3-2 #popup{width:870px; height:590px; position:relative;}
.popup-3-2 #popup .title {color:#f2af32; font:27px/28px "HelveticaRoman";}
.popup-3-2 #popup .title strong{font:27px/28px "HelveticaBold" !important;color:#f2af32; }
.popup-3-2 #popup .lgimage {margin:12px 0;}
.popup-3-2 #popup p {color:#000; background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:19px/22px "HelveticaCondensed"; color:#00529c;}
.popup-3-2 #popup aside {width:300px; position:absolute; top:80px; right:32px; width:230px;}

/*-- popup-3-3 --*/
.popup-3-3{}
.popup-3-3 #popup{width:870px; height:600px; position:relative;}
.popup-3-3 #popup .title {color:#f2af32; font:27px/28px "HelveticaRoman"; }
.popup-3-3 #popup .title strong{font:27px/28px "HelveticaBold" !important;color:#f2af32; }
.popup-3-3 #popup .lgimage {margin:12px 0;}
.popup-3-3 #popup p {color:#000; background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:19px/22px "HelveticaCondensed"; color:#00529c;}

/*-- popup-3-4 --*/
.popup-3-4{}
.popup-3-4 #popup{width:600px;}
.popup-3-4 #popup .title {color:#f2af32; font:33px/34px "HelveticaRoman";}
.popup-3-4 #popup .title strong{font:33px/34px "HelveticaBold" !important;color:#f2af32; }
.popup-3-4 #popup .lgimage {text-align:center; margin:22px 0;}
.popup-3-4 #popup p {color:#000; background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:22px/24px "HelveticaCondensed"; color:#00529c;}

/*-- popup-3-5 --*/
.popup-3-5{}
.popup-3-5 #popup{width:600px;}
.popup-3-5 #popup .title {color:#f2af32; font:33px/34px "HelveticaRoman";}
.popup-3-5 #popup .title strong{font:33px/34px "HelveticaBold" !important;color:#f2af32; }
.popup-3-5 #popup .lgimage {text-align:center; margin:22px 0;}
.popup-3-5 #popup p {color:#000; background:url(../images/sm_ywbullet.jpg) no-repeat left 4px; padding-left:14px; font:22px/24px "HelveticaCondensed"; color:#00529c;}


/*-- slide isi --*/

.slide-isi sup {line-height:0; font-size:60%;}
.slide-isi #content {background:#fff; width:1024px; height:658px; position:relative; color:#000;}
.slide-isi header {color:#005287; position:absolute;  z-index:55; top:26px; left:36px; font:31px/33px "HelveticaCondensed"; width:700px;}
.slide-isi header span {font:27px/31px "HelveticaCondensed";}

.slide-isi .headerborder {border-top:2px solid #f2af32; -webkit-box-shadow: 0 0 5px rgba(0,0,0,1); width:340px; position:absolute; top:95px; left:36px;}
.slide-isi section {position:absolute;  z-index:55; top:70px; left:36px; width:948px;}
.slide-isi section p {margin:6px 0 6px 12px; font:18px/20px "HelveticaRoman";}
.slide-isi section .bullet {background:url(../images/blk_bullet.png) no-repeat left 5px; padding-left:14px;}
.slide-isi section strong {color:#005288; font:18px/22px "HelveticaBlack";}
.slide-isi section .head, .slide-isi section .first {padding-top:16px;}
.slide-isi footer {position:absolute; left:36px; bottom:12px; font:17px/22px "HelveticaBoldCondensed"; width:660px; color:#000;}
.slide-isi .logo {position:absolute; top:18px; right:28px; background:url(../images/sm_blklogo.png) no-repeat; width:116px; height:38px;}


.slide-isi .collage {background:url(../images/ka-08-collage.jpg) no-repeat; width:366px; height:90px; position:absolute; bottom:0; right:0;}
.slide-isi .buttonwrap {position:absolute; bottom:46px; left:36px;}
.slide-isi button {margin-right:12px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddff), color-stop(49%,#5893c2), color-stop(50%,#336e9d), color-stop(100%,#508bba));  font: 12px/13px 'HelveticaBold'; color: #fff; padding:9px 0 5px; text-shadow: 0px -1px 1px #0176b0; border-collapse: collapse; width: 120px; height: 32px; -webkit-border-radius: 7px; border:3px solid #147dc6;  line-height: 1em; position:relative; -webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.2); }
.slide-isi button > span { position: relative; top: 0px; white-space: nowrap;}
.slide-isi button:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#508bba), color-stop(49%,#336e9d), color-stop(50%,#5893c2), color-stop(100%,#b4ddff)); -webkit-box-shadow: none; }
.slide-isi .sub-head {font:18px/22px "HelveticaMedium";}
.slide-isi .sub-head1 {font:18px/22px "HelveticaMedium";}
.slide-isi .toppad {margin-top:12px;}

/*-- slide safety --*/

.slide-safety sup {line-height:0; font-size:60%;}
.slide-safety #content {background:#fff; width:1024px; height:658px; position:relative; color:#000;}
.slide-safety header {color:#005287; position:absolute;  z-index:55; top:26px; left:36px; font:31px/33px "HelveticaCondensed"; width:700px;}
.slide-safety header span {font:27px/31px "HelveticaCondensed";}

.slide-safety .headerborder {border-top:2px solid #f2af32; -webkit-box-shadow: 0 0 5px rgba(0,0,0,1); width:340px; position:absolute; top:95px; left:36px;}
.slide-safety section {position:absolute;  z-index:55; top:70px; left:36px; width:948px;}
.slide-safety section p {margin:6px 0 6px 12px; font:18px/22px "HelveticaRoman";}
.slide-safety section .bullet {background:url(../images/blk_bullet.png) no-repeat left 5px; padding-left:14px;}
.slide-safety section strong {color:#005288; font:18px/22px "HelveticaBlack";}
.slide-safety section .head, .slide-isi section .first {padding-top:16px;}
.slide-safety footer {position:absolute; left:36px; bottom:12px; font:17px/22px "HelveticaBoldCondensed"; width:660px; color:#000;}
.slide-safety .logo {position:absolute; top:18px; right:28px; background:url(../images/sm_blklogo.png) no-repeat; width:116px; height:38px;}


.slide-safety .collage {background:url(../images/ka-08-collage.jpg) no-repeat; width:366px; height:90px; position:absolute; bottom:0; right:0;}
.slide-safety .buttonwrap {position:absolute; bottom:46px; left:36px;}
.slide-safety button {margin-right:12px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddff), color-stop(49%,#5893c2), color-stop(50%,#336e9d), color-stop(100%,#508bba));  font: 12px/13px 'HelveticaBold'; color: #fff; padding:9px 0 5px; text-shadow: 0px -1px 1px #0176b0; border-collapse: collapse; width: 120px; height: 32px; -webkit-border-radius: 7px; border:3px solid #147dc6;  line-height: 1em; position:relative; -webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.2); }
.slide-safety button > span { position: relative; top: 0px; white-space: nowrap;}
.slide-safety button:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#508bba), color-stop(49%,#336e9d), color-stop(50%,#5893c2), color-stop(100%,#b4ddff)); -webkit-box-shadow: none; }


/*-- slide-ref --*/
.slide-ref {}
.slide-ref #popup {width:580px; height:80px; color:#000;}
.slide-ref #popup ol {font:16px/20px "HelveticaBold";}
.slide-ref #popup ol li {margin-bottom:4px;}
.slide-ref #popup ol span {font:16px/20px "HelveticaRoman";}

