/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection {/* background: #fe57a1; color: #fff;*/ text-shadow: none; }
::selection {/* background: #fe57a1; color: #fff;*/ text-shadow: none; }


a:hover, a:active, a:focus, button:active, button:hover, button:focus { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
div { position:relative; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

input[type=text]{
	box-sizing: border-box; /* css3 rec */
	-moz-box-sizing: border-box; /* ff2 */
	-ms-box-sizing: border-box; /* ie8 */
	-webkit-box-sizing: border-box; /* safari3 */
	-khtml-box-sizing: border-box; /* konqueror */
}
	
/* float clearing for everyone else */
html .clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.hide{display:none;}

/* ==|== primary styles ===================================================== */

html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */ font-family:Arial, sans-serif;}
body{background-color:#fffdf5;}

h1{}
h2{color:#ed741a; font-size:20px; font-weight:normal; line-height:20px;}
h3{ background-color:#FFF; color:#ed741a; font-size:13px; padding:2px 4px; margin-left:-4px; margin-right:-4px; line-height:12px;}

a{color:#912b0b;}

.disclaimer{font-size:9px; font-weight:normal;}

header{background-color:#606060; height:50px; position:relative; -webkit-box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, .5); box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, .5);}
header > *{position:absolute;}
header #logo{display:block; left:50%; margin:0 auto; margin-left:-30px; top:11px; width:60px;}
header #sponsor{color:#afb1b3; font-size:8px; right:12px; top:20px; line-height:10px;}

footer{background-color:#606060; padding:5px 20px 15px; -webkit-box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, .5); box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, .5);}
footer #nav{ display:table; list-style:none; margin:0; padding:0; width:100%; table-layout:auto;}
footer #nav li.item{ display:table-cell; text-align:left;}
footer #nav li.item:last-child{text-align:right;}
footer a, footer p{color:#eeeeee; font-size:10px; line-height:11px;}
footer p span#number{float:right;}

section{color:#555555; font-size:11px;}
section .content{margin:10px 20px 20px;}
section .content ol.locator{background:#FFF; padding:20px; margin:0; list-style:none;}
section .content ol.locator li{padding-left:48px; background:url(../images/icon_map.gif) no-repeat 16px 3px; background-size:20px 24px; margin-top:20px;}
section .content ol.locator li:first-child{margin-top:0;}
section .content ol.locator li p{margin:0;}
section .content ul{padding-left:15px;}
section .content ul li{color:#912b0b; margin-bottom:14px;}
section a.right{float:right; text-decoration:none; font-size:14px;}
section a.left{float:left; text-decoration:none; font-size:14px;}
section a.left span, section a.right span{text-decoration:underline; font-size:11px; display:inline-block;}
section .bold{font-weight:bold;}
section .headerGraphic{width:100%;}
section .headerTitle{text-align:left; padding:4px 20px; font-size:15px; color:#FFF; font-weight:normal; margin:0;
	background: #ed741a;
	background: -moz-linear-gradient(top,  #ed741a 1%, #e46b17 37%, #9c2903 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ed741a), color-stop(37%,#e46b17), color-stop(100%,#9c2903));
	background: -webkit-linear-gradient(top,  #ed741a 1%,#e46b17 37%,#9c2903 100%);
	background: -o-linear-gradient(top,  #ed741a 1%,#e46b17 37%,#9c2903 100%);
	background: -ms-linear-gradient(top,  #ed741a 1%,#e46b17 37%,#9c2903 100%);
	background: linear-gradient(top,  #ed741a 1%,#e46b17 37%,#9c2903 100%);
}
section .graphicCaption{color:#FFF; background-color:#555555; padding:2px 20px; margin:0; height:16px;}
section #homeLinks{margin:0 20px;}
section #slider{background-color:#eaeaea; border-top:1px solid #FFF; border-bottom:1px solid #FFF; padding:14px 0 40px; position:relative;}
section #slider ul{margin:0; padding:0; position:relative;}
section #slider ul li{padding:0 40px; position:relative;}
section #slider ul li img{width:100%; max-width:260px; margin:0 auto; display:block;}
section #slider ul li p{background-color: rgba(255, 255, 255, .8); position:absolute; top:66%; width:86%; left:7%; padding:6px; margin-left:-6px; font-family:Helvetica, Sans-Serif;}
section #slider .arrow{position:absolute; top:50%;margin-top:-20px; color:#FFF; font-size:42px; width:12px; height:24px; background:url(../images/btn_arrow.gif) no-repeat 0 0; cursor:pointer;}
section #slider .arrow.left{left:10px; background-position:0 0;}
section #slider .arrow.right{right:10px; background-position:-12px 0;}
section #position {text-align:center; font-size:36px; line-height:1.3; color:#697279; display:block; position:absolute; bottom:0; left:50%;margin-left:-75px; width:150px;}
section #position.form {position:relative;}
section #position.form a.arrow{position:absolute; top:12px; font-size:14px; color:#550202; font-weight:bold;}
section #position.form a.arrow.right{right:8px;}
section #position.form a.arrow.left{left:8px;}
section #position em {color:#a9a9a9; display:inline-block; padding: 0 3px; font-style: normal; text-shadow: 0 -1px 0 rgba(0, 0, 0, .35); font-family: sans-serif;}
section #position em.on {color:#e38743;}
section .home.button.double{width:49%; float:left; height:35px; padding:3px 0 0; clear:none;}
section .home.button.double:nth-child(odd){margin-right:2%;}
section .home.button{padding:10px 10px 0; height:28px; margin:0 auto; margin-bottom:5px; width:180px}
section .button{
	clear:both;
	border:0;
	line-height:14px;
	margin:20px auto 10px;
	text-align:center;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
	width:146px;
	display:block;
	text-decoration:none;
	padding:0 10px;
	height:34px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	background: #ed741a;
	background: -moz-linear-gradient(top,  #ed741a 1%, #e46b17 37%, #9c2903 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ed741a), color-stop(37%,#e46b17), color-stop(100%,#9c2903));
	background: -webkit-linear-gradient(top,  #ed741a 1%,#e46b17 37%,#9c2903 100%);
	background: -o-linear-gradient(top,  #ed741a 1%,#e46b17 37%,#9c2903 100%);
	background: -ms-linear-gradient(top,  #ed741a 1%,#e46b17 37%,#9c2903 100%);
	background: linear-gradient(top,  #ed741a 1%,#e46b17 37%,#9c2903 100%);
}

a.button{padding-top:8px; height:26px;}

section .button:hover, section .button:focus{
	background: #8d2a0b;
	background: -moz-linear-gradient(top,  #8d2a0b 46%, #5b1b07 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,#8d2a0b), color-stop(100%,#5b1b07));
	background: -webkit-linear-gradient(top,  #8d2a0b 46%,#5b1b07 100%);
	background: -o-linear-gradient(top,  #8d2a0b 46%,#5b1b07 100%);
	background: -ms-linear-gradient(top,  #8d2a0b 46%,#5b1b07 100%);
	background: linear-gradient(top,  #8d2a0b 46%,#5b1b07 100%);
}

section .button.gray{
	clear:none;
	position:relative;
	font-size:11px;
	line-height:12px;
	height:28px;
	padding:0;
	float:right;
	margin:0 0 0 2%;
	background: #919191;
	background: -moz-linear-gradient(top,  #919191 1%, #676767 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#919191), color-stop(100%,#676767));
	background: -webkit-linear-gradient(top,  #919191 1%,#676767 100%);
	background: -o-linear-gradient(top,  #919191 1%, #676767 100%);
	background: -ms-linear-gradient(top,  #919191 1%,#676767 100%);
	background: linear-gradient(top,  #919191 1%,#676767 100%);}

section .button.gray #target{background:url(../images/target.gif) no-repeat; background-size:contain; height:18px; width:18px; display:block; position:absolute; right:8px; top:5px;}

section .button.gray:hover, section .button.gray:focus{background: #676767;
	background: -moz-linear-gradient(top,  #676767 1%, #434343 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#676767), color-stop(100%,#434343));
	background: -webkit-linear-gradient(top,  #676767 1%,#434343 100%);
	background: -o-linear-gradient(top,  #676767 1%, #434343 100%);
	background: -ms-linear-gradient(top,  #676767 1%,#434343 100%);
	background: linear-gradient(top,  #676767 1%,#434343 100%);}

form{position:relative;}
form div.radios{line-height: 18px; margin:2px 0;}
#required{color:#550202; position:absolute; top:0px; right:6px;}
form > label{display:block; margin-top:4px; clear:both; position:relative;}
form label span{position:absolute; left:-6px; top:0; color:#550202;}
form li label span{left:-20px;}
form input[type=text],form .selectContainer{
	padding:0 6px;
	font-size:14px;
	height:28px;
	border: 1px solid #cac9c8;
	display:block;
	width:100%;
	background-color:#f1f1f1;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 0px 4px 10px -4px #cecece;
	-webkit-box-shadow: inset 0px 4px 10px -4px #cecece;
	box-shadow: inset 0px 4px 10px -4px #cecece;
}

form ol{padding-left:15px; }
form ol li{font-weight:bold; position:relative;}
form ol li p{font-weight:normal; margin:2px 0 0; vertical-align:top; line-height:18px;}

form .definition{display:inline; position:relative; color:#912b0b; cursor:pointer; text-decoration:underline;}
form .definition .info{width:115px; position:absolute; top:14px; left:0; display:none; text-decoration:none;}
form .definition:hover .info{display:block;}

form div.selectContainer{padding:0; background: url(../images/select_arrow.gif) no-repeat right #f1f1f1; overflow:hidden; background-size:30px 30px; height:26px;}

select, option {
	width:120%;
	height:100%;
	border:0;
    background-color: transparent;
	-webkit-appearance:none;
	color:#999;}
form .partial{float:left;}
form *:focus{ outline-color:#ed741a;}
span.error{display:block; color:#F00; clear:both; visibility:hidden; font-size:9px;}

input[type="checkbox"], input[type="radio"] {margin-right:6px;}


#back {
    display : block;
    z-index : 0;
    left:20px;
    top:10px;    
    height:30px;
    width:auto;
    padding: 0 10px 0 6px;
    background-size : 30px 30px;

    background-repeat:repeat-x;
    background-position :0;
    background-image : -moz-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    background-image : -o-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    background-image : -webkit-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );

    border-radius: 5px;

    border-bottom: 1px solid rgba(255,255,255,0.4);

    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
        0 1px 2px rgba(0,0,0,0.8)inset;

    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
}

#back:before{
    position:absolute;
    content : ' ';
    left:-9px;
    top:3px;
    height : 24px;
    width: 24px;
    z-index : 1;

    background-repeat:repeat-x;
    background-size : 30px 30px;
    background-position :-1px -1.5px;
    background-image : -moz-linear-gradient(
        45deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.4) 100%
        );
    background-image : -o-linear-gradient(
        45deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.4) 100%
        );
    background-image : -webkit-linear-gradient(
        45deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.4) 100%
        );


    -moz-transform : rotate(-45deg) skew(-10deg, -10deg);
    -o-transform : rotate(-45deg) skew(-10deg, -10deg);
    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);

    border-top-right-radius : 11px;
    border-top-left-radius :0px;
    border-bottom-right-radius : 0;
    border-bottom-left-radius : 10px;

    border-left : 1.5px solid rgba(255,255,255,0.4);

    box-shadow :  0px 1px 1px rgba(0,0,0,0.7) inset,
        2px -2px 2px -3px rgba(0,0,0,0.5) inset;

    /*-webkit-mask-image :
        -webkit-gradient(linear, left top, right bottom,
            from(#000000),
            color-stop(0.4,#000000),
            color-stop(0.5, transparent),
            to(transparent));
    */
}
#back:after {

    font-family : HelveticaNeue,Helvetica, Arial;
    font-weight: 800;
    font-size : 12px;
    line-height : 30px;
    text-align:center;    
    content: attr(title)"";
    z-index: 999;
    left:-2px;
    padding-left:3px;
    position:relative;
    height: 30px;
    line-height:30px;
    display:block;
    background-repeat:repeat-x;
    background-size : 30px 30px;
    background-position :-1px -0.5px;
    box-shadow :  0 4px 2px -3px rgba(0,0,0,0.7) inset,
        0 -3px 2px -3px rgba(0,0,0,0.5) inset;
    background-image : -webkit-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    background-image : -moz-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    background-image : -o-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
}
#back,
#back:after,
#back:before {
    background-color: rgba(70,70,70,1);/*originalcolor*/

}

#back:hover,
#back:hover:after,
#back:hover:before {
    background-color: rgba(206,101,23,1);/*hovercolor*/

}​



/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}


/* ==|== retina displays===================================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	/* Style adjustments for retina display goes here */
}

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  /*
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
