* { -webkit-tap-highlight-color: rbga(0,0,0,0); -webkit-user-select: none; -webkit-user-drag: none;  -webkit-backface-visibility: visible; }
body { background: black; margin: 0px; padding: 0px; overflow: hidden; }
#container { background: white; width: 1024px; height: 658px; overflow: hidden; position: relative; }
sup, sub { line-height: 0; font-size: 60%; }

.symbol { font-family: sans-serif; }
.clear { clear: both; }

/**** GLOBAL CSS ****/
#container{ background:url(../images/gl-isi-bkg.jpg) no-repeat; height:677px;}
#container header{ font:35px/35px 'HelveticaRoman'; color:#fff;  padding:30px 40px;}
#container section p {font:14px/18px 'HelveticaRoman'; margin:0; margin-bottom:5px; padding:0;}
#container section strong { font-family:'HelveticaBold'}
#container strong { font-family:'HelveticaBold'}
#replayBtn {position:absolute; width:42px; height:47px; left:934px; top:78px; z-index:10;}


footer {width:100%; height:89px; position:absolute; bottom:0;}
footer span {font:12px/13px 'HelveticaBold'; color:#000; position:absolute; bottom:10px; left:15px; white-space:nowrap;}
footer .logo {position:absolute; right:25px; top:5px;}
footer #breadcrumb {position:absolute;bottom:0px;left:305px;width:437px;height:40px;text-align:center;font:12px/13px 'HelveticaBold';margin-top:-10px;}
footer #breadcrumb .bullets { display:inline;padding:0 2px; }
footer #breadcrumb .title{font:12px/13px 'HelveticaBold';}

