@import "fonts.css";

body { 
	font-family: "HelveticaCondensedMedium"; 
	margin: 0; 
	padding: 0; 
	background: #000;
	color: #fff;
	width:  1024px;
}

p { 
	 margin: 8px;
}

#main { 
	width: 1024px; 
	height: 658px; 
	background: url(../images/hm-01-bg-01.jpg) no-repeat 0px 0; 
	overflow: hidden; 
	position: relative; 
}

#isi {
	font-family: HelveticaCondensed;
	position: absolute;
	right: 30px;
	top: 30px;
	width: 260px;
	padding: 0 10px;
	font-size: 14px;
	text-shadow: #000 0 0 10px;
	background: rgba(0,0,0,0.25);
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.5);
	line-height: 15px;
}

#isi .big { 
	 font-size: 15px;
}

#mainLogo { 
	position: absolute;
	top: 15px; 
	left: 20px;
}

#mainLogo:after { 
	 content: url(../images/hm-01-img-01.png);
}

#logo { 
	position: absolute;
	bottom: 15px; 
	right: 30px;
}

#logo:after { 
	 content: url(../images/hm-01-img-02.png);
}

#pen { 
	position: absolute;
	bottom: 45px; 
	right: 10px;
}

#pen:after { 
	 content: url(../images/hm-01-img-03.png);
}

#footer { 
	position: absolute;
	bottom: 5px;
	left: 20px;
	font-size: 14px;
	width: 750px;
}

#copy-1, #copy-2 { 
	 font-family: HelveticaThin;
	 font-size: 26px;
	 position: absolute;
	 text-shadow: rgba(0,0,0,0.5) 0 0 4px;
	 width: 300px;
}

#copy-1 { 
	top: 100px; 
	text-align: right;
	left: 15px;
}

#copy-2 { 
	top: 124px; 
	left: 430px;
}

#footer .small { 
	font-size: 13px;
}

strong { 
	font-family: "HelveticaCondensedBold";  
}