// Home CSS

.home {}
.home #dropdown { position:absolute; top:30px; right:60px;opacity:0;}
.home #dropdown select {width:167px; height:22px; font:15px/16px 'HelveticaNeue';}
.home #replayBtn {position:absolute; width:42px; height:47px; left:624px; top:378px; z-index:10; opacity:0;}

.home #container{background:url("../images/background_home.png");background-repeat:repeat-y; width: 1024px; height: 679px;overflow: hidden; position: relative;}
.home #container p{font: 14px/17px 'HelveticaNeue'; color: #333333; padding:0px 20px 0px;margin-top:0px;}
.home #container header { font: 26px 'HelveticaNeue-Bold';color: #003767;display: inline-block;padding:10px 20px 0px; white-space: nowrap; }
.home #container header sup{font-size:10px; line-height: 80%;}
.home #container strong { font-family:'HelveticaBold'}
.home #container #right {position:absolute;width:276px;height:563px;left: 1047px;top: 60px; }
.home #container #dropdown { position:absolute; top:15px; right:65px;}
.home #container #dropdown select {width:167px; height:22px; font:15px/16px 'HelveticaNeue';}
	
	
.home #container .rightContent #result{padding:0px; margin:0px;}
.home #container .rightContent header { font: 16px/16px 'HelveticaNeue-Bold';color: #003767; padding:0px; margin:0px;}
.home #container .rightContent sup{font-size:10px; line-height: 80%;}
.home #container .rightContent p { font: 13px/15px 'HelveticaNeue';color: #333333; padding:0 0 5px 0; margin:0px;}
.home #container .rightContent p strong { font-family:'HelveticaBold'; line-height:12px;}
.home #container .centerContent {position:absolute;width:727px;height:512px;left: 0px;top: 0px;/*background-image:url("../images/Lady_Pic.png");*/}
.home #container .centerContent #lcc{position:absolute;width:240px;height:152px;left: 45px;top: 272px;opacity:0;}
.home #container .centerContent .leftcenterContent .lt4{
font: 30px/32px 'HelveticaLight'; color: #003767; padding:0px 0px 0px;margin-top:0px;}
.home #container .centerContent .leftcenterContent .lt4 sub{font-size:16px; line-height:0px;}
.home #container .centerleftContent{position:absolute;width:727px;height:83px;left: 0px;top: 511px;/*background-image:url("../images/pill_list.png");*/}
.home #container .centerleftbottomContent{position:absolute;width:727px;height:19px;left: 0px;top: 593px;background-image:url("../images/pills_background.png");background-repeat:repeat-y;}
.home #container .centerleftbottomContent p{font: 10px/12px 'HelveticaNeue'; color: #333333; padding:0px 20px 0px;margin-top:0px;}
.home #container #footer {position:absolute;width:454px;height:64px;left: 0px;top: 817px; }
.home #container .footerleftContent p{font: 13px/14px 'HelveticaNeue-Bold'; color: #000000; padding:10px 20px 0px;}
.home #container .footerrightContent {position:absolute;width:156px;height:64px;left: 868px;top: 607px;background-image:url("../images/Abbott_Footer.png");}

@-webkit-keyframes mergeleft
{
from {left: 1047px;}
to {left: 747px;}
}
@-webkit-keyframes mergetop
{
from {top: 817px;}
to {top: 617px;}
}
@-webkit-keyframes fade
{
from {opacity:0;} 
	to {opacity:1;}
}
/**********Scrum Home slide 01**************/
 * { -webkit-tap-highlight-color: rbga(0,0,0,0); -webkit-user-select: none; -webkit-user-drag: none;  -webkit-backface-visibility: hidden; }
body { background: black; margin: 0px; padding: 0px; overflow: hidden; }
.srum_home.slide-01 #container{background:url("../images/background_home.png");background-repeat:repeat-y; width: 1024px; height: 679px;overflow: hidden; position: relative;}
.srum_home.slide-01 #container section p{font: 14px/17px 'HelveticaNeue'; color: #333333; padding:0px 20px 0px;margin-top:0px;}
.srum_home.slide-01 #container section header { font: 26px 'HelveticaNeue-Bold';color: #003767;display: inline-block;padding:10px 20px 0px; white-space: nowrap; }
.srum_home.slide-01 #container section header sup{font-size:10px; line-height: 80%;}
.srum_home.slide-01 #container section strong { font-family:'HelveticaBold'}
.srum_home.slide-01 #container section .rightContent {position:absolute;width:276px;height:563px;left: 747px;top: 60px;}
.srum_home.slide-01 #container section #dropdown { position:absolute; top:15px; right:65px;}
.srum_home.slide-01 #container section #dropdown select {width:167px; height:22px; font:15px/16px 'HelveticaNeue';}
	
	
	.srum_home.slide-01 #container section .rightContent #result{padding:0px; margin:0px;}
.srum_home.slide-01 #container section .rightContent header { font: 16px/16px 'HelveticaNeue-Bold';color: #003767; padding:0px; margin:0px;}
.srum_home.slide-01 #container section .rightContent sup{font-size:10px; line-height: 80%;}
.srum_home.slide-01 #container section .rightContent p { font: 13px/15px 'HelveticaNeue';color: #333333; padding:0 0 5px 0; margin:0px;}
.srum_home.slide-01 #container section .rightContent p strong { font-family:'HelveticaBold'; line-height:12px;}
.srum_home.slide-01 #container section .centerContent {position:absolute;width:727px;height:512px;left: 0px;top: 0px;background-image:url("../images/Lady_Pic.png");}
.srum_home.slide-01 #container section .centerContent .leftcenterContent{position:absolute;width:240px;height:152px;left: 45px;top: 272px;}
.srum_home.slide-01 #container section .centerContent .leftcenterContent .lt4{
font: 30px/32px 'HelveticaLight'; color: #003767; padding:0px 0px 0px;margin-top:0px;}
.srum_home.slide-01 #container section .centerContent .leftcenterContent .lt4 sub{font-size:16px; line-height:0px;}
.srum_home.slide-01 #container section .centerleftContent{position:absolute;width:727px;height:83px;left: 0px;top: 511px;background-image:url("../images/pill_list.png");}
.srum_home.slide-01 #container section .centerleftbottomContent{position:absolute;width:727px;height:19px;left: 0px;top: 593px;background-image:url("../images/pills_background.png");background-repeat:repeat-y;}
.srum_home.slide-01 #container section .centerleftbottomContent p{font: 10px/12px 'HelveticaNeue'; color: #333333; padding:0px 20px 0px;margin-top:0px;}
.srum_home.slide-01 #container section .footerleftContent {position:absolute;width:454px;height:64px;left: 0px;top: 617px;}
.srum_home.slide-01 #container section .footerleftContent p{font: 13px/14px 'HelveticaNeue-Bold'; color: #000000; padding:10px 20px 0px;}
.srum_home.slide-01 #container section .footerrightContent {position:absolute;width:156px;height:64px;left: 868px;top: 607px;background-image:url("../images/Abbott_Footer.png");}
