/************************************************************************
 
 DAW MAP .css file.
 
 ************************************************************************/

.map sup {font-size:60%;}
.map * { -webkit-tap-highlight-color:rgba(0,0,0,0); }

/*********Map Slide-01***********/
.map.slide-01 #container { background:url(../images/map-bkg.jpg) no-repeat; width:1024px; height:677px;}
.map.slide-01 #container header{ font:35px/35px 'HelveticaRoman'; color:#fff;  padding:30px 40px;}

.map.slide-01 #container .dropdown { position:absolute; top:25px; right:25px;}
.map.slide-01 #container .dropdown select {width:177px; height:32px; line-height:32px!important; font:15px/16px 'HelveticaBold'; background:url(../images/selectState.png) no-repeat; -webkit-appearance: none; border: 0 none; font-size: 0;
    border:none; color:#666; text-indent:7px; -webkit-border-radius:3px;}
.map.slide-01 #container .dropdown select:focus { outline: none;}
.map.slide-01 #container section {padding:10px 25px;}
.map.slide-01 #container section .map{ position:relative; top:0; left:70px;}
.map.slide-01 #container section .labeltxt {font:24px/28px 'HelveticaBold'; color:#003767; position:absolute; top:158px; left:-60px;}
.map.slide-01 #container section .labeltxt span { color:#f7971c;}
.map.slide-01 #container section .note {position:absolute;  right:25px; font:12px/18px 'HelveticaBold';  color:#003767; white-space:nowrap;}

.map.slide-01 #container #stateDropDown2 { background: transparent; -webkit-border-radius: 0; opacity: 0.5;
	height: 227px; width: 170px; position: absolute; z-index: 1000;
	top: 125px; left: 780px; -webkit-appearance: none; font-size: 0; border: 0px none;
}