@import "fonts.css";

body { 
	color: #000;
	font-family: "HelveticaRoman"; 
	margin: 0; 
	padding: 0; 
	background: #000;
	width:  1024px;
}

#main { 
	width: 1024px; 
	height: 658px; 
	background: #fff url(../images/logo-bg.png) no-repeat right 576px; 
	overflow: hidden; 
	position: relative; 
}

#content { 
	width: 1024px; 
	height: 658px;
	position: relative;
}

.purple { 
	color: #b1005d; 
}

sup { 
	line-height: 0; 
}

#footer { 
	position: absolute;
	font-family:"HelveticaBoldCondensed";
	font-weight:bold;
	bottom: 25px;
	left: 50px;
	width: 650px;
	font-size: 18px; 
	color: #000; 
}

#footer p { 
	padding: 0; 
	margin: 4px 0; 
}

h1 { 
	margin: 0; 
	padding: 0; 
}

h1 span { 
	font-family:HelveticaNeue-Bold;
	font-size: 28px; 
	background: #b1005d url(../images/tab.png) no-repeat bottom right; 
	color: #fff; 
	padding: 20px 0 0 60px;
	height: 35px;
	line-height: 20px; 
	display: block; 
}

#video { text-align: center; margin-top: 260px; }
#video a { display: block; text-indent: -9999px; content: url(../images/video.png); width: 58px; margin: 0 auto; }
