@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PopUpPage</title>
</head>
<body>
    <div>
        <p>This Is PopUP Message..</p>
        <p>@ViewBag.Message</p>        
    </div>
</body>
</html>
