<link href="@Url.Content("~/Content/css/PresentationApp.css")" rel="stylesheet" type="text/css" />
<div id="container">
    <div id="left">
        <p>
        </p>
    </div>
    <div id="center">
        <div id="viewport" onselectstart="return false;">
            <div id="mouseSwipe2">
                <div class="panel prev">
                    <div>
                        Prev
                    </div>
                </div>
                <div class="panel">
                    <div id="target2">
                    </div>
                </div>
                <div class="panel next">
                    <div>
                        Next
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="right">
        <div class="status" style="visibility: hidden">
            <div id="userStatus">
                User Status</div>
            <div id="statusDiv">
            </div>
        </div>
        <div id="chat_widget_main_container">
            <div id="chat_widget_messages_container">
                <div id="chat_widget_messages">
                </div>
            </div>
            <div id="chat_widget_input_container">
                <input type="text" id="chat_widget_input" /><br />
                <input type="button" value="Send" id="chat_widget_button" />
            </div>
        </div>
    </div>
</div>